schematrons/dynamic/validation-stage-3b-6.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-3b-6" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/cbc:RegulatoryDomain">
        <assert id="R-P84-VVI" role="ERROR" test="./normalize-space(text()) = ('32009L0081','other')">rule|text|R-P84-VVI</assert>
    </rule>
</pattern>
