schematrons/dynamic/validation-stage-3b-CEI.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-3b-CEI" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/cbc:RegulatoryDomain">
        <assert id="R-ZQV-3AS" role="ERROR" test="./normalize-space(text()) = ('32024R2509')">rule|text|R-ZQV-3AS</assert>
    </rule>
</pattern>
