schematrons/dynamic/validation-stage-1a.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-1a" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*">
        <assert id="R-TMP-001" role="ERROR" diagnostics="ND-Root_OPP-070-notice" test="ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeSubType/cbc:SubTypeCode">rule|text|R-TMP-001</assert>
    </rule>
</pattern>
