schematrons/dynamic/validation-stage-4-40.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-4-40" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject/cac:ProcurementAdditionalType[cbc:ProcurementTypeCode/@listName='accessibility']">
        <assert id="R-43M-6BY" role="ERROR" diagnostics="ND-AccessibilityJustification_BT-755-Lot" test="(not(cbc:ProcurementType)) or (not(not(cbc:ProcurementTypeCode/normalize-space(text()) = 'n-inc-just')))">rule|text|R-43M-6BY</assert>
        <assert id="R-IP8-TT8" role="ERROR" diagnostics="ND-AccessibilityJustification_BT-755-Lot" test="(cbc:ProcurementType) or (not(cbc:ProcurementTypeCode/normalize-space(text()) = 'n-inc-just'))">rule|text|R-IP8-TT8</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efac:Change">
        <assert id="R-KCK-FII" role="ERROR" diagnostics="ND-Change_BT-141_a_-notice" test="(not(efbc:ChangeDescription)) or (not(not(efac:ChangedSection/efbc:ChangedSectionIdentifier)))">rule|text|R-KCK-FII</assert>
        <assert id="R-1NG-MG0" role="ERROR" diagnostics="ND-Change_BT-718-notice" test="(not(efbc:ProcurementDocumentsChangeIndicator)) or (not(not(efac:ChangedSection/efbc:ChangedSectionIdentifier)))">rule|text|R-1NG-MG0</assert>
        <assert id="R-5EZ-3OO" role="ERROR" diagnostics="ND-Change_BT-719-notice" test="(not(efbc:ProcurementDocumentsChangeDate)) or (not(not(efbc:ProcurementDocumentsChangeIndicator = true())))">rule|text|R-5EZ-3OO</assert>
        <assert id="R-MSX-Q3H" role="ERROR" diagnostics="ND-Change_BT-719-notice" test="(efbc:ProcurementDocumentsChangeDate) or (not(efbc:ProcurementDocumentsChangeIndicator = true()))">rule|text|R-MSX-Q3H</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efac:Change/efac:ChangedSection">
        <assert id="R-TC6-DR2" role="ERROR" diagnostics="ND-ChangedSection_BT-13716-notice" test="(not(efbc:ChangedSectionIdentifier)) or (not(not(../../efbc:ChangedNoticeIdentifier)))">rule|text|R-TC6-DR2</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:Company">
        <assert id="R-2YU-B6H" role="ERROR" diagnostics="ND-Company_BT-503-Organization-Company" test="(cac:Contact/cbc:Telephone) or (not((cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text()))))">rule|text|R-2YU-B6H</assert>
        <assert id="R-W63-KCM" role="ERROR" diagnostics="ND-Company_BT-506-Organization-Company" test="(cac:Contact/cbc:ElectronicMail) or (not((cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text()))))">rule|text|R-W63-KCM</assert>
        <assert id="R-IM0-8CV" role="ERROR" diagnostics="ND-Company_BT-507-Organization-Company" test="(not(cac:PostalAddress/cbc:CountrySubentityCode)) or (not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX'))))">rule|text|R-IM0-8CV</assert>
        <assert id="R-6L0-71L" role="ERROR" diagnostics="ND-Company_BT-507-Organization-Company" test="(cac:PostalAddress/cbc:CountrySubentityCode) or (not(not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX')))))">rule|text|R-6L0-71L</assert>
        <assert id="R-VJQ-ZSG" role="ERROR" diagnostics="ND-Company_BT-510_a_-Organization-Company" test="(not(cac:PostalAddress/cbc:StreetName)) or (not(not(cac:PostalAddress/cbc:CityName)))">rule|text|R-VJQ-ZSG</assert>
        <assert id="R-6RV-RSQ" role="ERROR" diagnostics="ND-Company_BT-510_b_-Organization-Company" test="(not(cac:PostalAddress/cbc:AdditionalStreetName)) or (not(not(cac:PostalAddress/cbc:StreetName)))">rule|text|R-6RV-RSQ</assert>
        <assert id="R-OS0-QIK" role="ERROR" diagnostics="ND-Company_BT-510_c_-Organization-Company" test="(not(cac:PostalAddress/cac:AddressLine/cbc:Line)) or (not(not(cac:PostalAddress/cbc:AdditionalStreetName)))">rule|text|R-OS0-QIK</assert>
        <assert id="R-OO2-8CS" role="ERROR" diagnostics="ND-Company_BT-512-Organization-Company" test="(cac:PostalAddress/cbc:PostalZone) or (not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('AFG','ALA','ALB','AND','ARG','ARM','AUS','AUT','AZE','BEL','BGD','BGR','BHR','BIH','BLM','BLR','BMU','BRA','BRB','BRN','BTN','CAN','CHE','CHL','CHN','COL','CPT','CPV','CRI','CUB','CYM','CYP','CZE','DEU','DJI','DNK','DOM','DZA','ECU','EGY','ESP','EST','ETH','FIN','FRA','FRO','FSM','GBR','GEO','GGY','GIN','GNB','GRC','GRL','GTM','GUM','HND','HRV','HTI','HUN','IDN','IMN','IND','IRL','IRN','IRQ','ISL','ISR','ITA','JEY','JOR','JPN','KAZ','KEN','KGZ','KHM','KIR','KOR','KWT','LAO','LBN','LIE','LKA','LSO','LTU','LUX','LVA','MAF','MAR','MCO','MDA','MDG','MDV','MEX','MHL','MLT','MMR','MNE','MNG','MOZ','MSR','MUS','MWI','MYS','NAM','NCL','NER','NGA','NIC','NLD','NOR','NPL','NRU','NZL','OMN','PAK','PER','PHL','PNG','POL','PRI','PRT','PRY','PSE','PYF','ROU','RUS','SAU','SDN','SEN','SGP','SJM','SLV','SMR','SPM','SRB','SVK','SVN','SWE','SWZ','THA','TJK','TKM','TLS','TTO','TUN','TUR','UKR','URY','USA','UZB','VCT','VEN','VGB','VIR','VNM','WLF','ZAF')))">rule|text|R-OO2-8CS</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:ConcessionRevenue/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='con-rev-buy']">
        <assert id="R-JBS-G6E" role="ERROR" diagnostics="ND-ConcessionRevenueBuyerUnpublish_BT-195_BT-160_-Tender" test="(not(efbc:FieldIdentifierCode)) or (not(not(../efbc:RevenueBuyerAmount)))">rule|text|R-JBS-G6E</assert>
        <assert id="R-2XM-E0C" role="ERROR" diagnostics="ND-ConcessionRevenueBuyerUnpublish_BT-196_BT-160_-Tender" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-2XM-E0C</assert>
        <assert id="R-KC8-SMJ" role="ERROR" diagnostics="ND-ConcessionRevenueBuyerUnpublish_BT-197_BT-160_-Tender" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-KC8-SMJ</assert>
        <assert id="R-T3H-7WC" role="ERROR" diagnostics="ND-ConcessionRevenueBuyerUnpublish_BT-197_BT-160_-Tender" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-T3H-7WC</assert>
        <assert id="R-OUF-66T" role="ERROR" diagnostics="ND-ConcessionRevenueBuyerUnpublish_BT-198_BT-160_-Tender" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-OUF-66T</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:ConcessionRevenue/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='con-rev-use']">
        <assert id="R-MWP-S4B" role="ERROR" diagnostics="ND-ConcessionRevenueUserUnpublish_BT-195_BT-162_-Tender" test="(not(efbc:FieldIdentifierCode)) or (not(not(../efbc:RevenueUserAmount)))">rule|text|R-MWP-S4B</assert>
        <assert id="R-3T8-K16" role="ERROR" diagnostics="ND-ConcessionRevenueUserUnpublish_BT-196_BT-162_-Tender" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-3T8-K16</assert>
        <assert id="R-491-KW1" role="ERROR" diagnostics="ND-ConcessionRevenueUserUnpublish_BT-197_BT-162_-Tender" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-491-KW1</assert>
        <assert id="R-IBZ-N4U" role="ERROR" diagnostics="ND-ConcessionRevenueUserUnpublish_BT-197_BT-162_-Tender" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-IBZ-N4U</assert>
        <assert id="R-E8J-2NV" role="ERROR" diagnostics="ND-ConcessionRevenueUserUnpublish_BT-198_BT-162_-Tender" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-E8J-2NV</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:SettledContract/efac:Funding">
        <assert id="R-06X-2FB" role="ERROR" diagnostics="ND-ContractEUFunds_BT-6110-Contract" test="(not(cbc:Description)) or (not(not(cbc:FundingProgramCode) and not(efbc:FinancingIdentifier)))">rule|text|R-06X-2FB</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingTerms/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:StrategicProcurement[efbc:ApplicableLegalBasis/@listName='eed-scope']">
        <assert id="R-15A-IUM" role="ERROR" diagnostics="ND-EEDLot_BT-811_b_-Lot" test="(not(efac:StrategicProcurementInformation/efac:ProcurementDetails/efbc:AssetCategoryCode)) or (not(not(efbc:ApplicableLegalBasis/normalize-space(text()) = 'true')))">rule|text|R-15A-IUM</assert>
        <assert id="R-3FX-HZ5" role="ERROR" diagnostics="ND-EEDLot_BT-811_b_-Lot" test="(efac:StrategicProcurementInformation/efac:ProcurementDetails/efbc:AssetCategoryCode) or (not(efbc:ApplicableLegalBasis/normalize-space(text()) = 'true'))">rule|text|R-3FX-HZ5</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingTerms/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:StrategicProcurement[efbc:ApplicableLegalBasis/@listName='eed-scope']/efac:StrategicProcurementInformation/efac:ProcurementDetails">
        <assert id="R-Q02-0B2" role="ERROR" diagnostics="ND-EEDProcurementDetailsLot_BT-811_a_-Lot" test="(not(efbc:LegalFrameworkCode)) or (not(not(efbc:AssetCategoryCode)))">rule|text|R-Q02-0B2</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efac:StrategicProcurement[efac:StrategicProcurementInformation/efac:ProcurementDetails/efbc:AssetCategoryCode/@listName='energy-efficiency-item']/efac:StrategicProcurementInformation/efac:ProcurementDetails">
        <assert id="R-VUV-LEE" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_BT-811_a_-LotResult" test="(not(efbc:LegalFrameworkCode)) or (not(not(efbc:AssetCategoryCode)))">rule|text|R-VUV-LEE</assert>
        <assert id="R-KKT-QQ7" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_BT-811_a_-LotResult" test="(efbc:LegalFrameworkCode) or (not(not(not(efbc:AssetCategoryCode))))">rule|text|R-KKT-QQ7</assert>
        <assert id="R-EDO-Y5P" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_BT-812-LotResult" test="(not(efac:AssetLabel/efbc:LabelCode)) or (not(not(efbc:LegalFrameworkCode/normalize-space(text()) = 'enrg-lab')))">rule|text|R-EDO-Y5P</assert>
        <assert id="R-GHC-RCH" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_BT-812-LotResult" test="(efac:AssetLabel/efbc:LabelCode) or (not(not(not(efbc:LegalFrameworkCode/normalize-space(text()) = 'enrg-lab'))))">rule|text|R-GHC-RCH</assert>
        <assert id="R-IC7-4XL" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_BT-813-LotResult" test="(not(efac:AssetMetric[efbc:AssetMetricCode/text()='nrg-con-yr']/efbc:AssetMetricNumeric)) or (not((not(efbc:LegalFrameworkCode)) or (efbc:LegalFrameworkCode/normalize-space(text()) = 'enrg-lab')))">rule|text|R-IC7-4XL</assert>
        <assert id="R-3F8-NUW" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_BT-813-LotResult" test="(efac:AssetMetric[efbc:AssetMetricCode/text()='nrg-con-yr']/efbc:AssetMetricNumeric) or (not(not((not(efbc:LegalFrameworkCode)) or (efbc:LegalFrameworkCode/normalize-space(text()) = 'enrg-lab'))))">rule|text|R-3F8-NUW</assert>
        <assert id="R-8BG-IY9" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_BT-814-LotResult" test="(not(efac:AssetMetric[efbc:AssetMetricCode/text()='nrg-sav-yr']/efbc:AssetMetricNumeric)) or (not(not(efbc:LegalFrameworkCode)))">rule|text|R-8BG-IY9</assert>
        <assert id="R-DEV-IM8" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_BT-814-LotResult" test="(efac:AssetMetric[efbc:AssetMetricCode/text()='nrg-sav-yr']/efbc:AssetMetricNumeric) or (not((efbc:LegalFrameworkCode) and not(efbc:LegalFrameworkCode/normalize-space(text()) = 'enrg-lab')))">rule|text|R-DEV-IM8</assert>
        <assert id="R-QBD-HMJ" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_BT-815-LotResult" test="(not(efac:StrategicProcurementStatistics/efbc:StatisticsNumeric)) or (not(not(efbc:LegalFrameworkCode)))">rule|text|R-QBD-HMJ</assert>
        <assert id="R-RDQ-35R" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_BT-815-LotResult" test="(efac:StrategicProcurementStatistics/efbc:StatisticsNumeric) or (not(not(not(efbc:LegalFrameworkCode))))">rule|text|R-RDQ-35R</assert>
        <assert id="R-M9W-YSS" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_OPT-080-LotResult" test="(not(efac:AssetMetric[efbc:AssetMetricCode/text()='nrg-con-yr']/efbc:AssetMetricCode)) or (not((not(efbc:LegalFrameworkCode)) or (efbc:LegalFrameworkCode/normalize-space(text()) = 'enrg-lab')))">rule|text|R-M9W-YSS</assert>
        <assert id="R-85G-XN1" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_OPT-080-LotResult" test="(efac:AssetMetric[efbc:AssetMetricCode/text()='nrg-con-yr']/efbc:AssetMetricCode) or (not(not((not(efbc:LegalFrameworkCode)) or (efbc:LegalFrameworkCode/normalize-space(text()) = 'enrg-lab'))))">rule|text|R-85G-XN1</assert>
        <assert id="R-ZWE-OT0" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_OPT-081-LotResult" test="(not(efac:AssetMetric[efbc:AssetMetricCode/text()='nrg-sav-yr']/efbc:AssetMetricCode)) or (not(not(efac:AssetMetric[efbc:AssetMetricCode/text()='nrg-sav-yr']/efbc:AssetMetricNumeric)))">rule|text|R-ZWE-OT0</assert>
        <assert id="R-47U-EMX" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_OPT-081-LotResult" test="(efac:AssetMetric[efbc:AssetMetricCode/text()='nrg-sav-yr']/efbc:AssetMetricCode) or (not(not(not(efac:AssetMetric[efbc:AssetMetricCode/text()='nrg-sav-yr']/efbc:AssetMetricNumeric))))">rule|text|R-47U-EMX</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingTerms/cac:ContractExecutionRequirement[cbc:ExecutionRequirementCode/@listName='conditions']">
        <assert id="R-EWC-W3C" role="ERROR" diagnostics="ND-ExecutionRequirements_BT-70-Lot" test="(not(cbc:Description)) or (not(not(cbc:ExecutionRequirementCode)))">rule|text|R-EWC-W3C</assert>
    </rule>
    <rule context="/*/cac:TenderingTerms/cac:ProcurementLegislationDocumentReference[cbc:ID/text()='LocalLegalBasis']">
        <assert id="R-WSW-QCT" role="ERROR" diagnostics="ND-LocalLegalBasisNoID_BT-01_f_-Procedure" test="(not(cbc:DocumentDescription)) or (not(not(cbc:ID)))">rule|text|R-WSW-QCT</assert>
        <assert id="R-S4N-ELQ" role="ERROR" diagnostics="ND-LocalLegalBasisNoID_BT-01_f_-Procedure" test="(cbc:DocumentDescription) or (not(not(not(cbc:ID))))">rule|text|R-S4N-ELQ</assert>
    </rule>
    <rule context="/*/cac:TenderingTerms/cac:ProcurementLegislationDocumentReference[not(cbc:ID/text()=('CrossBorderLaw','LocalLegalBasis'))]">
        <assert id="R-MA8-D75" role="ERROR" diagnostics="ND-LocalLegalBasisWithID_BT-01_d_-Procedure" test="(not(cbc:DocumentDescription)) or (not(not(cbc:ID)))">rule|text|R-MA8-D75</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject/cac:AdditionalCommodityClassification">
        <assert id="R-G9R-HCI" role="ERROR" diagnostics="ND-LotAdditionalClassification_BT-26_a_-Lot" test="(not(cbc:ItemClassificationCode/@listName)) or (not(not(cbc:ItemClassificationCode)))">rule|text|R-G9R-HCI</assert>
        <assert id="R-ZA1-JTF" role="ERROR" diagnostics="ND-LotAdditionalClassification_BT-26_a_-Lot" test="(cbc:ItemClassificationCode/@listName) or (not(not(not(cbc:ItemClassificationCode))))">rule|text|R-ZA1-JTF</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject/cac:PlannedPeriod">
        <assert id="R-YHB-8ZE" role="ERROR" diagnostics="ND-LotDuration_BT-36-Lot" test="(not(cbc:DurationMeasure)) or (not((cbc:EndDate and cbc:StartDate) or (cbc:DescriptionCode)))">rule|text|R-YHB-8ZE</assert>
        <assert id="R-05Y-W04" role="ERROR" diagnostics="ND-LotDuration_BT-536-Lot" test="(not(cbc:StartDate)) or (not((cbc:DurationMeasure and cbc:EndDate) or (cbc:DescriptionCode and cbc:EndDate)))">rule|text|R-05Y-W04</assert>
        <assert id="R-PJF-HTA" role="ERROR" diagnostics="ND-LotDuration_BT-537-Lot" test="(not(cbc:EndDate)) or (not((cbc:StartDate and cbc:DescriptionCode) or (cbc:StartDate and cbc:DurationMeasure) or (cbc:DescriptionCode and cbc:DescriptionCode/normalize-space(text()) = 'UNLIMITED')))">rule|text|R-PJF-HTA</assert>
        <assert id="R-9P9-EF3" role="ERROR" diagnostics="ND-LotDuration_BT-538-Lot" test="(not(cbc:DescriptionCode)) or (not(cbc:DurationMeasure or (cbc:EndDate and cbc:StartDate)))">rule|text|R-9P9-EF3</assert>
        <assert id="R-34M-B6S" role="ERROR" diagnostics="ND-LotDuration_OPA-36-Lot-Number" test="(not(cbc:DurationMeasure)) or (not((cbc:EndDate and cbc:StartDate) or (cbc:DescriptionCode)))">rule|text|R-34M-B6S</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject/cac:MainCommodityClassification">
        <assert id="R-MKV-GB2" role="ERROR" diagnostics="ND-LotMainClassification_BT-26_m_-Lot" test="(not(cbc:ItemClassificationCode/@listName)) or (not(not(cbc:ItemClassificationCode)))">rule|text|R-MKV-GB2</assert>
        <assert id="R-FMV-V7N" role="ERROR" diagnostics="ND-LotMainClassification_BT-26_m_-Lot" test="(cbc:ItemClassificationCode/@listName) or (not(not(not(cbc:ItemClassificationCode))))">rule|text|R-FMV-V7N</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject/cac:RealizedLocation">
        <assert id="R-N4S-3M1" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5071-Lot" test="(not(cac:Address/cbc:CountrySubentityCode)) or (not(cac:Address/cbc:Region or not(cac:Address/cac:Country/cbc:IdentificationCode)))">rule|text|R-N4S-3M1</assert>
        <assert id="R-LJ6-0DS" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5101_a_-Lot" test="(not(cac:Address/cbc:StreetName)) or (not(not(cac:Address/cbc:CityName)))">rule|text|R-LJ6-0DS</assert>
        <assert id="R-1LK-P87" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5101_b_-Lot" test="(not(cac:Address/cbc:AdditionalStreetName)) or (not(not(cac:Address/cbc:StreetName)))">rule|text|R-1LK-P87</assert>
        <assert id="R-GLF-8CI" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5101_c_-Lot" test="(not(cac:Address/cac:AddressLine/cbc:Line)) or (not(not(cac:Address/cbc:AdditionalStreetName)))">rule|text|R-GLF-8CI</assert>
        <assert id="R-M0R-60V" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5121-Lot" test="(not(cac:Address/cbc:PostalZone)) or (not(not(cac:Address/cbc:CityName)))">rule|text|R-M0R-60V</assert>
        <assert id="R-917-8WO" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5121-Lot" test="(cac:Address/cbc:PostalZone) or (not(cac:Address/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('AFG','ALA','ALB','AND','ARG','ARM','AUS','AUT','AZE','BEL','BGD','BGR','BHR','BIH','BLM','BLR','BMU','BRA','BRB','BRN','BTN','CAN','CHE','CHL','CHN','COL','CPT','CPV','CRI','CUB','CYM','CYP','CZE','DEU','DJI','DNK','DOM','DZA','ECU','EGY','ESP','EST','ETH','FIN','FRA','FRO','FSM','GBR','GEO','GGY','GIN','GNB','GRC','GRL','GTM','GUM','HND','HRV','HTI','HUN','IDN','IMN','IND','IRL','IRN','IRQ','ISL','ISR','ITA','JEY','JOR','JPN','KAZ','KEN','KGZ','KHM','KIR','KOR','KWT','LAO','LBN','LIE','LKA','LSO','LTU','LUX','LVA','MAF','MAR','MCO','MDA','MDG','MDV','MEX','MHL','MLT','MMR','MNE','MNG','MOZ','MSR','MUS','MWI','MYS','NAM','NCL','NER','NGA','NIC','NLD','NOR','NPL','NRU','NZL','OMN','PAK','PER','PHL','PNG','POL','PRI','PRT','PRY','PSE','PYF','ROU','RUS','SAU','SDN','SEN','SGP','SJM','SLV','SMR','SPM','SRB','SVK','SVN','SWE','SWZ','THA','TJK','TKM','TLS','TTO','TUN','TUR','UKR','URY','USA','UZB','VCT','VEN','VGB','VIR','VNM','WLF','ZAF') and cac:Address/cbc:StreetName))">rule|text|R-917-8WO</assert>
        <assert id="R-2AL-NB1" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5131-Lot" test="(not(cac:Address/cbc:CityName)) or (not(cac:Address/cbc:Region or not(cac:Address/cac:Country/cbc:IdentificationCode)))">rule|text|R-2AL-NB1</assert>
        <assert id="R-62V-ADZ" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-728-Lot" test="(not(cbc:Description)) or (not(not(cac:Address/cbc:Region) and not(cac:Address/cac:Country/cbc:IdentificationCode)))">rule|text|R-62V-ADZ</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject">
        <assert id="R-BEM-4LX" role="ERROR" diagnostics="ND-LotProcurementScope_BT-531-Lot" test="(not(cac:ProcurementAdditionalType[cbc:ProcurementTypeCode/@listName='contract-nature']/cbc:ProcurementTypeCode)) or (not(not(cbc:ProcurementTypeCode[@listName='contract-nature'])))">rule|text|R-BEM-4LX</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult">
        <assert id="R-MZY-J2U" role="ERROR" diagnostics="ND-LotResult_BT-13713-LotResult" test="(not(efac:TenderLot/cbc:ID)) or (not(not(cbc:ID)))">rule|text|R-MZY-J2U</assert>
        <assert id="R-QTF-ELY" role="ERROR" diagnostics="ND-LotResult_BT-13713-LotResult" test="(efac:TenderLot/cbc:ID) or (not(not(not(cbc:ID))))">rule|text|R-QTF-ELY</assert>
        <assert id="R-UV1-BQD" role="ERROR" diagnostics="ND-LotResult_BT-811_b_-LotResult" test="(not(efac:StrategicProcurement[efac:StrategicProcurementInformation/efac:ProcurementDetails/efbc:AssetCategoryCode/@listName='energy-efficiency-item']/efac:StrategicProcurementInformation/efac:ProcurementDetails/efbc:AssetCategoryCode)) or (not(efac:TenderLot/cbc:ID/normalize-space(text()) = ../../../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cbc:ID[not(../cac:TenderingTerms/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:StrategicProcurement[efbc:ApplicableLegalBasis/@listName='eed-scope']/efbc:ApplicableLegalBasis/normalize-space(text()) = 'true')]/normalize-space(text())))">rule|text|R-UV1-BQD</assert>
        <assert id="R-S2A-23G" role="ERROR" diagnostics="ND-LotResult_BT-811_b_-LotResult" test="(efac:StrategicProcurement[efac:StrategicProcurementInformation/efac:ProcurementDetails/efbc:AssetCategoryCode/@listName='energy-efficiency-item']/efac:StrategicProcurementInformation/efac:ProcurementDetails/efbc:AssetCategoryCode) or (not(not(efac:TenderLot/cbc:ID/normalize-space(text()) = ../../../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cbc:ID[not(../cac:TenderingTerms/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:StrategicProcurement[efbc:ApplicableLegalBasis/@listName='eed-scope']/efbc:ApplicableLegalBasis/normalize-space(text()) = 'true')]/normalize-space(text()))))">rule|text|R-S2A-23G</assert>
        <assert id="R-NBR-P3T" role="ERROR" diagnostics="ND-LotResult_OPT-315-LotResult" test="(not(efac:SettledContract/cbc:ID)) or (not(not(cbc:ID)))">rule|text|R-NBR-P3T</assert>
        <assert id="R-D2D-SDB" role="ERROR" diagnostics="ND-LotResult_OPT-315-LotResult" test="(efac:SettledContract/cbc:ID) or (not(not(not(cbc:ID))))">rule|text|R-D2D-SDB</assert>
        <assert id="R-2E3-963" role="ERROR" diagnostics="ND-LotResult_OPT-320-LotResult" test="(not(efac:LotTender/cbc:ID)) or (not((not(cbc:ID)) or ((efac:TenderLot/cbc:ID) and not(some $x in ../efac:LotTender/efac:TenderLot/cbc:ID/normalize-space(text()) satisfies $x = efac:TenderLot/cbc:ID/normalize-space(text())) and not(some $x in ../../../../../../cac:TenderingTerms/cac:LotDistribution/cac:LotsGroup/cac:ProcurementProjectLotReference/cbc:ID[@schemeName='Lot'][../../cbc:LotsGroupID/normalize-space(text()) = ../../../../../ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:TenderLot/cbc:ID/normalize-space(text())]/normalize-space(text()) satisfies $x = efac:TenderLot/cbc:ID/normalize-space(text()))) or ((not(efac:TenderLot/cbc:ID)) and (not(../efac:LotTender/cbc:ID)))))">rule|text|R-2E3-963</assert>
        <assert id="R-VOQ-BY9" role="ERROR" diagnostics="ND-LotResult_OPT-320-LotResult" test="(efac:LotTender/cbc:ID) or (not(not((not(cbc:ID)) or ((efac:TenderLot/cbc:ID) and not(some $x in ../efac:LotTender/efac:TenderLot/cbc:ID/normalize-space(text()) satisfies $x = efac:TenderLot/cbc:ID/normalize-space(text())) and not(some $x in ../../../../../../cac:TenderingTerms/cac:LotDistribution/cac:LotsGroup/cac:ProcurementProjectLotReference/cbc:ID[@schemeName='Lot'][../../cbc:LotsGroupID/normalize-space(text()) = ../../../../../ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:TenderLot/cbc:ID/normalize-space(text())]/normalize-space(text()) satisfies $x = efac:TenderLot/cbc:ID/normalize-space(text()))) or ((not(efac:TenderLot/cbc:ID)) and (not(../efac:LotTender/cbc:ID))))))">rule|text|R-VOQ-BY9</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender">
        <assert id="R-GSB-K49" role="ERROR" diagnostics="ND-LotTender_BT-13714-Tender" test="(not(efac:TenderLot/cbc:ID)) or (not(not(efac:TenderReference/cbc:ID)))">rule|text|R-GSB-K49</assert>
        <assert id="R-3QI-0OB" role="ERROR" diagnostics="ND-LotTender_BT-13714-Tender" test="(efac:TenderLot/cbc:ID) or (not(not(not(efac:TenderReference/cbc:ID))))">rule|text|R-3QI-0OB</assert>
        <assert id="R-NT7-EHB" role="ERROR" diagnostics="ND-LotTender_BT-160-Tender" test="(not(efac:ConcessionRevenue/efbc:RevenueBuyerAmount)) or (not(not(cbc:ID)))">rule|text|R-NT7-EHB</assert>
        <assert id="R-X4I-8R8" role="ERROR" diagnostics="ND-LotTender_BT-162-Tender" test="(not(efac:ConcessionRevenue/efbc:RevenueUserAmount)) or (not(not(cbc:ID)))">rule|text|R-X4I-8R8</assert>
        <assert id="R-B59-VBU" role="ERROR" diagnostics="ND-LotTender_BT-163-Tender" test="(not(efac:ConcessionRevenue/efbc:ValueDescription)) or (not(not(cbc:ID)))">rule|text|R-B59-VBU</assert>
        <assert id="R-Y99-JBR" role="ERROR" diagnostics="ND-LotTender_BT-773-Tender" test="(not(efac:SubcontractingTerm[efbc:TermCode/@listName='applicability']/efbc:TermCode)) or (not(not(cbc:ID)))">rule|text|R-Y99-JBR</assert>
        <assert id="R-Q53-JFM" role="ERROR" diagnostics="ND-LotTender_OPT-310-Tender" test="(not(efac:TenderingParty/cbc:ID)) or (not(not(cbc:ID)))">rule|text|R-Q53-JFM</assert>
        <assert id="R-EFD-W2R" role="ERROR" diagnostics="ND-LotTender_OPT-310-Tender" test="(efac:TenderingParty/cbc:ID) or (not(not(not(cbc:ID))))">rule|text|R-EFD-W2R</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingTerms">
        <assert id="R-N8L-J6D" role="ERROR" diagnostics="ND-LotTenderingTerms_BT-95-Lot" test="(not(cbc:RecurringProcurementDescription)) or (not(not(cbc:RecurringProcurementIndicator = true())))">rule|text|R-N8L-J6D</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='LotsGroup']">
        <assert id="R-BF8-8AZ" role="ERROR" diagnostics="ND-LotsGroup_BT-137-LotsGroup" test="(not(cbc:ID)) or (not(count(/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cbc:ID/normalize-space(text())) &lt; 2))">rule|text|R-BF8-8AZ</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='LotsGroup']/cac:ProcurementProject">
        <assert id="R-XAF-J9C" role="ERROR" diagnostics="ND-LotsGroupProcurementScope_BT-21-LotsGroup" test="(not(cbc:Name)) or (not(not(../cbc:ID)))">rule|text|R-XAF-J9C</assert>
        <assert id="R-6RE-JZE" role="ERROR" diagnostics="ND-LotsGroupProcurementScope_BT-22-LotsGroup" test="(not(cbc:ID)) or (not(not(../cbc:ID)))">rule|text|R-6RE-JZE</assert>
        <assert id="R-PVI-8SW" role="ERROR" diagnostics="ND-LotsGroupProcurementScope_BT-24-LotsGroup" test="(not(cbc:Description)) or (not(not(../cbc:ID)))">rule|text|R-PVI-8SW</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:ContractModification/efac:Change/efac:ChangedSection">
        <assert id="R-XHX-SU9" role="ERROR" diagnostics="ND-ModifiedSection_BT-1501_p_-Contract" test="(not(efbc:ChangedSectionIdentifier)) or (not(not(../../efbc:ModifiedContractIdentifier)))">rule|text|R-XHX-SU9</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult">
        <assert id="R-35C-UQS" role="ERROR" diagnostics="ND-NoticeResult_BT-161-NoticeResult" test="(not(cbc:TotalAmount)) or (not((some $x in efac:LotResult/efac:TenderLot/cbc:ID/normalize-space(text()) satisfies $x = ../../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cbc:ID[../cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement']/cbc:ContractingSystemTypeCode/normalize-space(text()) = ('fa-mix','fa-w-rc','fa-wo-rc')]/normalize-space(text())) and not(some $x in efac:SettledContract/efbc:ContractFrameworkIndicator satisfies $x = true())))">rule|text|R-35C-UQS</assert>
        <assert id="R-EQY-7NF" role="ERROR" diagnostics="ND-NoticeResult_OPT-210-Tenderer" test="(not(efac:TenderingParty/cbc:ID)) or (not(not(efac:LotTender/efac:TenderingParty/cbc:ID)))">rule|text|R-EQY-7NF</assert>
        <assert id="R-6O6-ZQ2" role="ERROR" diagnostics="ND-NoticeResult_OPT-210-Tenderer" test="(efac:TenderingParty/cbc:ID) or (not(not(not(efac:LotTender/efac:TenderingParty/cbc:ID))))">rule|text|R-6O6-ZQ2</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='not-val']">
        <assert id="R-VXT-W54" role="ERROR" diagnostics="ND-NoticeValueUnpublish_BT-195_BT-161_-NoticeResult" test="(not(efbc:FieldIdentifierCode)) or (not(not(../cbc:TotalAmount)))">rule|text|R-VXT-W54</assert>
        <assert id="R-SEI-SWN" role="ERROR" diagnostics="ND-NoticeValueUnpublish_BT-196_BT-161_-NoticeResult" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-SEI-SWN</assert>
        <assert id="R-1LO-VO3" role="ERROR" diagnostics="ND-NoticeValueUnpublish_BT-197_BT-161_-NoticeResult" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-1LO-VO3</assert>
        <assert id="R-ZIV-UYE" role="ERROR" diagnostics="ND-NoticeValueUnpublish_BT-197_BT-161_-NoticeResult" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-ZIV-UYE</assert>
        <assert id="R-0WU-SLG" role="ERROR" diagnostics="ND-NoticeValueUnpublish_BT-198_BT-161_-NoticeResult" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-0WU-SLG</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject/cac:ContractExtension">
        <assert id="R-1M3-VKP" role="ERROR" diagnostics="ND-OptionsAndRenewals_BT-57-Lot" test="(not(cac:Renewal/cac:Period/cbc:Description)) or (not(not(cbc:MaximumNumberNumeric/number() &gt; 0)))">rule|text|R-1M3-VKP</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization">
        <assert id="R-MGI-GKJ" role="ERROR" diagnostics="ND-Organization_BT-633-Organization" test="(not(efbc:NaturalPersonIndicator)) or (not(not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = /*/cac:ContractingParty/cac:Party/cac:ServiceProviderParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text())) and not(((efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = /*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:TenderingParty/efac:SubContractor/cbc:ID/normalize-space(text())) or (efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = /*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:TenderingParty/efac:Tenderer/cbc:ID/normalize-space(text()))) and (not(efbc:ListedOnRegulatedMarketIndicator = true())))))">rule|text|R-MGI-GKJ</assert>
        <assert id="R-T96-GZP" role="ERROR" diagnostics="ND-Organization_OPP-050-Organization" test="(not(efbc:GroupLeadIndicator)) or (not(not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text())) or (count(../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text())) &lt; 2)))">rule|text|R-T96-GZP</assert>
        <assert id="R-53R-6MC" role="ERROR" diagnostics="ND-Organization_OPP-050-Organization" test="(efbc:GroupLeadIndicator) or (not(not(not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text())) or (count(../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text())) &lt; 2))))">rule|text|R-53R-6MC</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject/cac:AdditionalCommodityClassification">
        <assert id="R-DKC-DB2" role="ERROR" diagnostics="ND-ProcedureAdditionalCommodityClassification_BT-26_a_-Procedure" test="(not(cbc:ItemClassificationCode/@listName)) or (not(not(cbc:ItemClassificationCode)))">rule|text|R-DKC-DB2</assert>
        <assert id="R-7VA-45V" role="ERROR" diagnostics="ND-ProcedureAdditionalCommodityClassification_BT-26_a_-Procedure" test="(cbc:ItemClassificationCode/@listName) or (not(not(not(cbc:ItemClassificationCode))))">rule|text|R-7VA-45V</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject/cac:MainCommodityClassification">
        <assert id="R-77Q-74K" role="ERROR" diagnostics="ND-ProcedureMainClassification_BT-26_m_-Procedure" test="(not(cbc:ItemClassificationCode/@listName)) or (not(not(cbc:ItemClassificationCode)))">rule|text|R-77Q-74K</assert>
        <assert id="R-HLV-NX6" role="ERROR" diagnostics="ND-ProcedureMainClassification_BT-26_m_-Procedure" test="(cbc:ItemClassificationCode/@listName) or (not(not(not(cbc:ItemClassificationCode))))">rule|text|R-HLV-NX6</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject/cac:RealizedLocation/cac:Address">
        <assert id="R-8O3-GKH" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5071-Procedure" test="(not(cbc:CountrySubentityCode)) or (not(cbc:Region or not(cac:Country/cbc:IdentificationCode)))">rule|text|R-8O3-GKH</assert>
        <assert id="R-9HD-DIN" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5101_a_-Procedure" test="(not(cbc:StreetName)) or (not(not(cbc:CityName)))">rule|text|R-9HD-DIN</assert>
        <assert id="R-CHP-9T7" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5101_b_-Procedure" test="(not(cbc:AdditionalStreetName)) or (not(not(cbc:StreetName)))">rule|text|R-CHP-9T7</assert>
        <assert id="R-7ZZ-T7Z" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5101_c_-Procedure" test="(not(cac:AddressLine/cbc:Line)) or (not(not(cbc:AdditionalStreetName)))">rule|text|R-7ZZ-T7Z</assert>
        <assert id="R-VWQ-LUU" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5121-Procedure" test="(not(cbc:PostalZone)) or (not(not(cbc:CityName)))">rule|text|R-VWQ-LUU</assert>
        <assert id="R-DSD-XYA" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5121-Procedure" test="(cbc:PostalZone) or (not(cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('AFG','ALA','ALB','AND','ARG','ARM','AUS','AUT','AZE','BEL','BGD','BGR','BHR','BIH','BLM','BLR','BMU','BRA','BRB','BRN','BTN','CAN','CHE','CHL','CHN','COL','CPT','CPV','CRI','CUB','CYM','CYP','CZE','DEU','DJI','DNK','DOM','DZA','ECU','EGY','ESP','EST','ETH','FIN','FRA','FRO','FSM','GBR','GEO','GGY','GIN','GNB','GRC','GRL','GTM','GUM','HND','HRV','HTI','HUN','IDN','IMN','IND','IRL','IRN','IRQ','ISL','ISR','ITA','JEY','JOR','JPN','KAZ','KEN','KGZ','KHM','KIR','KOR','KWT','LAO','LBN','LIE','LKA','LSO','LTU','LUX','LVA','MAF','MAR','MCO','MDA','MDG','MDV','MEX','MHL','MLT','MMR','MNE','MNG','MOZ','MSR','MUS','MWI','MYS','NAM','NCL','NER','NGA','NIC','NLD','NOR','NPL','NRU','NZL','OMN','PAK','PER','PHL','PNG','POL','PRI','PRT','PRY','PSE','PYF','ROU','RUS','SAU','SDN','SEN','SGP','SJM','SLV','SMR','SPM','SRB','SVK','SVN','SWE','SWZ','THA','TJK','TKM','TLS','TTO','TUN','TUR','UKR','URY','USA','UZB','VCT','VEN','VGB','VIR','VNM','WLF','ZAF') and cbc:StreetName))">rule|text|R-DSD-XYA</assert>
        <assert id="R-K3Q-CO1" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5131-Procedure" test="(not(cbc:CityName)) or (not(cbc:Region or not(cac:Country/cbc:IdentificationCode)))">rule|text|R-K3Q-CO1</assert>
        <assert id="R-I6Q-2VO" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-727-Procedure" test="(not(cbc:Region)) or (not(cbc:CountrySubentityCode))">rule|text|R-I6Q-2VO</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject/cac:RealizedLocation">
        <assert id="R-CP6-E6O" role="ERROR" diagnostics="ND-ProcedurePlacePerformanceAdditionalInformation_BT-728-Procedure" test="(not(cbc:Description)) or (not(not(cac:Address/cbc:Region) and not(cac:Address/cac:Country/cbc:IdentificationCode)))">rule|text|R-CP6-E6O</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject">
        <assert id="R-NE3-BFZ" role="ERROR" diagnostics="ND-ProcedureProcurementScope_BT-531-Procedure" test="(not(cac:ProcurementAdditionalType[cbc:ProcurementTypeCode/@listName='contract-nature']/cbc:ProcurementTypeCode)) or (not(not(cbc:ProcurementTypeCode)))">rule|text|R-NE3-BFZ</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efac:StrategicProcurement[efac:StrategicProcurementInformation/efbc:ProcurementCategoryCode/@listName='cvd-contract-type']/efac:StrategicProcurementInformation/efac:ProcurementDetails">
        <assert id="R-H9C-BWR" role="ERROR" diagnostics="ND-ProcurementDetailsLotResult_BT-723-LotResult" test="(not(efbc:AssetCategoryCode)) or (not(not(../efbc:ProcurementCategoryCode)))">rule|text|R-H9C-BWR</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efac:StrategicProcurement[efac:StrategicProcurementInformation/efbc:ProcurementCategoryCode/@listName='cvd-contract-type']/efac:StrategicProcurementInformation/efac:ProcurementDetails/efac:StrategicProcurementStatistics">
        <assert id="R-0A5-IWR" role="ERROR" diagnostics="ND-ProcurementStatistics_OPT-155-LotResult" test="(not(efbc:StatisticsCode)) or (not(not(../efbc:AssetCategoryCode)))">rule|text|R-0A5-IWR</assert>
        <assert id="R-T7T-715" role="ERROR" diagnostics="ND-ProcurementStatistics_OPT-156-LotResult" test="(not(efbc:StatisticsNumeric)) or (not(not(efbc:StatisticsCode)))">rule|text|R-T7T-715</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efac:AppealRequestsStatistics[efbc:StatisticsCode/@listName='review-type']/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='rev-req']">
        <assert id="R-TO5-015" role="ERROR" diagnostics="ND-RevewRequestsUnpublish_BT-195_BT-712_-LotResult" test="(not(efbc:FieldIdentifierCode)) or (not(not(../efbc:StatisticsCode)))">rule|text|R-TO5-015</assert>
        <assert id="R-SS1-PZB" role="ERROR" diagnostics="ND-RevewRequestsUnpublish_BT-196_BT-712_-LotResult" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-SS1-PZB</assert>
        <assert id="R-RF4-7H0" role="ERROR" diagnostics="ND-RevewRequestsUnpublish_BT-197_BT-712_-LotResult" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-RF4-7H0</assert>
        <assert id="R-M56-E1S" role="ERROR" diagnostics="ND-RevewRequestsUnpublish_BT-197_BT-712_-LotResult" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-M56-E1S</assert>
        <assert id="R-3O1-N8R" role="ERROR" diagnostics="ND-RevewRequestsUnpublish_BT-198_BT-712_-LotResult" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-3O1-N8R</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efac:AppealRequestsStatistics[efbc:StatisticsCode/@listName='irregularity-type']/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='buy-rev-cou']">
        <assert id="R-24C-LMW" role="ERROR" diagnostics="ND-ReviewRequestsStatisticsCountUnpublish_BT-195_BT-635_-LotResult" test="(not(efbc:FieldIdentifierCode)) or (not(not(../efbc:StatisticsNumeric)))">rule|text|R-24C-LMW</assert>
        <assert id="R-3A8-3A2" role="ERROR" diagnostics="ND-ReviewRequestsStatisticsCountUnpublish_BT-196_BT-635_-LotResult" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-3A8-3A2</assert>
        <assert id="R-TPI-57E" role="ERROR" diagnostics="ND-ReviewRequestsStatisticsCountUnpublish_BT-197_BT-635_-LotResult" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-TPI-57E</assert>
        <assert id="R-DFX-WBQ" role="ERROR" diagnostics="ND-ReviewRequestsStatisticsCountUnpublish_BT-197_BT-635_-LotResult" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-DFX-WBQ</assert>
        <assert id="R-2KB-TWI" role="ERROR" diagnostics="ND-ReviewRequestsStatisticsCountUnpublish_BT-198_BT-635_-LotResult" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-2KB-TWI</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efac:AppealRequestsStatistics[efbc:StatisticsCode/@listName='irregularity-type']/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='buy-rev-typ']">
        <assert id="R-VYC-C1T" role="ERROR" diagnostics="ND-ReviewRequestsStatisticsTypeUnpublish_BT-195_BT-636_-LotResult" test="(not(efbc:FieldIdentifierCode)) or (not(not(../efbc:StatisticsCode)))">rule|text|R-VYC-C1T</assert>
        <assert id="R-0TR-OSD" role="ERROR" diagnostics="ND-ReviewRequestsStatisticsTypeUnpublish_BT-196_BT-636_-LotResult" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-0TR-OSD</assert>
        <assert id="R-HTV-47E" role="ERROR" diagnostics="ND-ReviewRequestsStatisticsTypeUnpublish_BT-197_BT-636_-LotResult" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-HTV-47E</assert>
        <assert id="R-9B8-5LR" role="ERROR" diagnostics="ND-ReviewRequestsStatisticsTypeUnpublish_BT-197_BT-636_-LotResult" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-9B8-5LR</assert>
        <assert id="R-9Q1-R6P" role="ERROR" diagnostics="ND-ReviewRequestsStatisticsTypeUnpublish_BT-198_BT-636_-LotResult" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-9Q1-R6P</assert>
    </rule>
    <rule context="/*/cac:ContractingParty/cac:Party/cac:ServiceProviderParty">
        <assert id="R-TVJ-963" role="ERROR" diagnostics="ND-ServiceProviderParty_OPT-030-Procedure-SProvider" test="(not(cbc:ServiceTypeCode)) or (not(not(cac:Party/cac:PartyIdentification/cbc:ID)))">rule|text|R-TVJ-963</assert>
        <assert id="R-PL0-I58" role="ERROR" diagnostics="ND-ServiceProviderParty_OPT-030-Procedure-SProvider" test="(cbc:ServiceTypeCode) or (not(not(not(cac:Party/cac:PartyIdentification/cbc:ID))))">rule|text|R-PL0-I58</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:SettledContract">
        <assert id="R-IVJ-MNH" role="ERROR" diagnostics="ND-SettledContract_BT-145-Contract" test="(not(cbc:IssueDate)) or (not(not(efac:LotTender/cbc:ID)))">rule|text|R-IVJ-MNH</assert>
        <assert id="R-4YD-ORK" role="ERROR" diagnostics="ND-SettledContract_BT-145-Contract" test="(cbc:IssueDate) or (not(not(not(efac:LotTender/cbc:ID))))">rule|text|R-4YD-ORK</assert>
        <assert id="R-M0Y-T7P" role="ERROR" diagnostics="ND-SettledContract_BT-1451-Contract" test="(not(cbc:AwardDate)) or (not((not(cbc:ID))))">rule|text|R-M0Y-T7P</assert>
        <assert id="R-C71-BJO" role="ERROR" diagnostics="ND-SettledContract_BT-151-Contract" test="(not(cbc:URI)) or (not(not(efac:LotTender/cbc:ID)))">rule|text|R-C71-BJO</assert>
        <assert id="R-J00-IVK" role="ERROR" diagnostics="ND-SettledContract_BT-3202-Contract" test="(not(efac:LotTender/cbc:ID)) or (not((not(cbc:ID)) or (not(../efac:LotTender/cbc:ID))))">rule|text|R-J00-IVK</assert>
        <assert id="R-UUE-QAP" role="ERROR" diagnostics="ND-SettledContract_BT-3202-Contract" test="(efac:LotTender/cbc:ID) or (not(not((not(cbc:ID)) or (not(../efac:LotTender/cbc:ID)))))">rule|text|R-UUE-QAP</assert>
        <assert id="R-QAC-HF0" role="ERROR" diagnostics="ND-SettledContract_BT-721-Contract" test="(not(cbc:Title)) or (not(not(efac:LotTender/cbc:ID)))">rule|text|R-QAC-HF0</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingTerms/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:StrategicProcurement[efbc:ApplicableLegalBasis/@listName='cvd-scope']/efac:StrategicProcurementInformation">
        <assert id="R-BBH-A1X" role="ERROR" diagnostics="ND-StrategicProcurementInformationLot_BT-735-Lot" test="(not(efbc:ProcurementCategoryCode)) or (not(not(../efbc:ApplicableLegalBasis/normalize-space(text()) = 'true')))">rule|text|R-BBH-A1X</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efac:StrategicProcurement[efac:StrategicProcurementInformation/efbc:ProcurementCategoryCode/@listName='cvd-contract-type']/efac:StrategicProcurementInformation">
        <assert id="R-GAN-VXS" role="ERROR" diagnostics="ND-StrategicProcurementInformationLotResult_BT-735-LotResult" test="(not(efbc:ProcurementCategoryCode)) or (not(../../efac:TenderLot/cbc:ID/normalize-space(text()) = ../../../../../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cbc:ID[not(../cac:TenderingTerms/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:StrategicProcurement[efbc:ApplicableLegalBasis/@listName='cvd-scope']/efbc:ApplicableLegalBasis/normalize-space(text()) = 'true')]/normalize-space(text())))">rule|text|R-GAN-VXS</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject/cac:ProcurementAdditionalType[cbc:ProcurementTypeCode/@listName='strategic-procurement']">
        <assert id="R-L43-B6L" role="ERROR" diagnostics="ND-StrategicProcurementType_BT-777-Lot" test="(not(cbc:ProcurementType)) or (not(not(cbc:ProcurementTypeCode) or cbc:ProcurementTypeCode/normalize-space(text()) = 'none'))">rule|text|R-L43-B6L</assert>
        <assert id="R-MCY-TNL" role="ERROR" diagnostics="ND-StrategicProcurementType_BT-777-Lot" test="(cbc:ProcurementType) or (not(not(not(cbc:ProcurementTypeCode) or cbc:ProcurementTypeCode/normalize-space(text()) = 'none')))">rule|text|R-MCY-TNL</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:TenderingParty/efac:SubContractor">
        <assert id="R-FT5-2FZ" role="ERROR" diagnostics="ND-SubContractor_OPT-301-Tenderer-MainCont" test="(not(efac:MainContractor/cbc:ID)) or (not(not(cbc:ID)))">rule|text|R-FT5-2FZ</assert>
        <assert id="R-DTE-5HX" role="ERROR" diagnostics="ND-SubContractor_OPT-301-Tenderer-MainCont" test="(efac:MainContractor/cbc:ID) or (not(not(not(cbc:ID))))">rule|text|R-DTE-5HX</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:SubcontractingTerm[efbc:TermCode/@listName='applicability']">
        <assert id="R-SD4-1DN" role="ERROR" diagnostics="ND-SubcontractedContract_BT-553-Tender" test="(not(efbc:TermAmount)) or (not(not(efbc:ValueKnownIndicator = true())))">rule|text|R-SD4-1DN</assert>
        <assert id="R-PJC-0O5" role="ERROR" diagnostics="ND-SubcontractedContract_BT-553-Tender" test="(efbc:TermAmount) or (not(efbc:ValueKnownIndicator = true()))">rule|text|R-PJC-0O5</assert>
        <assert id="R-BOK-HY8" role="ERROR" diagnostics="ND-SubcontractedContract_BT-554-Tender" test="(not(efbc:TermDescription)) or (not(not(efbc:TermCode/normalize-space(text()) = 'yes')))">rule|text|R-BOK-HY8</assert>
        <assert id="R-AGO-EU7" role="ERROR" diagnostics="ND-SubcontractedContract_BT-555-Tender" test="(not(efbc:TermPercent)) or (not(not(efbc:PercentageKnownIndicator = true())))">rule|text|R-AGO-EU7</assert>
        <assert id="R-1MH-7UF" role="ERROR" diagnostics="ND-SubcontractedContract_BT-555-Tender" test="(efbc:TermPercent) or (not(efbc:PercentageKnownIndicator = true()))">rule|text|R-1MH-7UF</assert>
        <assert id="R-4LK-7KO" role="ERROR" diagnostics="ND-SubcontractedContract_BT-730-Tender" test="(not(efbc:ValueKnownIndicator)) or (not(not(efbc:TermCode/normalize-space(text()) = 'yes')))">rule|text|R-4LK-7KO</assert>
        <assert id="R-Q0G-V36" role="ERROR" diagnostics="ND-SubcontractedContract_BT-730-Tender" test="(efbc:ValueKnownIndicator) or (not(efbc:TermCode/normalize-space(text()) = 'yes'))">rule|text|R-Q0G-V36</assert>
        <assert id="R-LLU-1VL" role="ERROR" diagnostics="ND-SubcontractedContract_BT-731-Tender" test="(not(efbc:PercentageKnownIndicator)) or (not(not(efbc:TermCode/normalize-space(text()) = 'yes')))">rule|text|R-LLU-1VL</assert>
        <assert id="R-LUX-669" role="ERROR" diagnostics="ND-SubcontractedContract_BT-731-Tender" test="(efbc:PercentageKnownIndicator) or (not(efbc:TermCode/normalize-space(text()) = 'yes'))">rule|text|R-LUX-669</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:SubcontractingTerm[efbc:TermCode/@listName='applicability']/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='sub-des']">
        <assert id="R-JOH-5HZ" role="ERROR" diagnostics="ND-SubcontractingDescriptionUnpublish_BT-195_BT-554_-Tender" test="(not(efbc:FieldIdentifierCode)) or (not(not(../efbc:TermDescription)))">rule|text|R-JOH-5HZ</assert>
        <assert id="R-U8A-0L3" role="ERROR" diagnostics="ND-SubcontractingDescriptionUnpublish_BT-196_BT-554_-Tender" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-U8A-0L3</assert>
        <assert id="R-8WR-2IL" role="ERROR" diagnostics="ND-SubcontractingDescriptionUnpublish_BT-197_BT-554_-Tender" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-8WR-2IL</assert>
        <assert id="R-EQ2-L3R" role="ERROR" diagnostics="ND-SubcontractingDescriptionUnpublish_BT-197_BT-554_-Tender" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-EQ2-L3R</assert>
        <assert id="R-MFI-0KB" role="ERROR" diagnostics="ND-SubcontractingDescriptionUnpublish_BT-198_BT-554_-Tender" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-MFI-0KB</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:SubcontractingTerm[efbc:TermCode/@listName='applicability']/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='sub-per-kno']">
        <assert id="R-ZVB-LUR" role="ERROR" diagnostics="ND-SubcontractingPercentageKnownUnpublish_BT-195_BT-731_-Tender" test="(not(efbc:FieldIdentifierCode)) or (not(not(../efbc:PercentageKnownIndicator)))">rule|text|R-ZVB-LUR</assert>
        <assert id="R-EO8-D96" role="ERROR" diagnostics="ND-SubcontractingPercentageKnownUnpublish_BT-196_BT-731_-Tender" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-EO8-D96</assert>
        <assert id="R-G4J-VNJ" role="ERROR" diagnostics="ND-SubcontractingPercentageKnownUnpublish_BT-197_BT-731_-Tender" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-G4J-VNJ</assert>
        <assert id="R-V91-YGH" role="ERROR" diagnostics="ND-SubcontractingPercentageKnownUnpublish_BT-197_BT-731_-Tender" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-V91-YGH</assert>
        <assert id="R-SDS-575" role="ERROR" diagnostics="ND-SubcontractingPercentageKnownUnpublish_BT-198_BT-731_-Tender" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-SDS-575</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:SubcontractingTerm[efbc:TermCode/@listName='applicability']/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='sub-per']">
        <assert id="R-SSC-CQA" role="ERROR" diagnostics="ND-SubcontractingPercentageUnpublish_BT-195_BT-555_-Tender" test="(not(efbc:FieldIdentifierCode)) or (not(not(../efbc:TermPercent)))">rule|text|R-SSC-CQA</assert>
        <assert id="R-N7R-SQ6" role="ERROR" diagnostics="ND-SubcontractingPercentageUnpublish_BT-196_BT-555_-Tender" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-N7R-SQ6</assert>
        <assert id="R-5HY-VYU" role="ERROR" diagnostics="ND-SubcontractingPercentageUnpublish_BT-197_BT-555_-Tender" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-5HY-VYU</assert>
        <assert id="R-W3Y-JAY" role="ERROR" diagnostics="ND-SubcontractingPercentageUnpublish_BT-197_BT-555_-Tender" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-W3Y-JAY</assert>
        <assert id="R-XJ9-BUU" role="ERROR" diagnostics="ND-SubcontractingPercentageUnpublish_BT-198_BT-555_-Tender" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-XJ9-BUU</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:SubcontractingTerm[efbc:TermCode/@listName='applicability']/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='sub-con']">
        <assert id="R-9U8-CU8" role="ERROR" diagnostics="ND-SubcontractingUnpublish_BT-195_BT-773_-Tender" test="(not(efbc:FieldIdentifierCode)) or (not(not(../efbc:TermCode)))">rule|text|R-9U8-CU8</assert>
        <assert id="R-P16-10N" role="ERROR" diagnostics="ND-SubcontractingUnpublish_BT-196_BT-773_-Tender" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-P16-10N</assert>
        <assert id="R-OAN-97E" role="ERROR" diagnostics="ND-SubcontractingUnpublish_BT-197_BT-773_-Tender" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-OAN-97E</assert>
        <assert id="R-5Y9-GVH" role="ERROR" diagnostics="ND-SubcontractingUnpublish_BT-197_BT-773_-Tender" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-5Y9-GVH</assert>
        <assert id="R-P67-ZZE" role="ERROR" diagnostics="ND-SubcontractingUnpublish_BT-198_BT-773_-Tender" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-P67-ZZE</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:SubcontractingTerm[efbc:TermCode/@listName='applicability']/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='sub-val-kno']">
        <assert id="R-GZ1-C59" role="ERROR" diagnostics="ND-SubcontractingValueKnownUnpublish_BT-195_BT-730_-Tender" test="(not(efbc:FieldIdentifierCode)) or (not(not(../efbc:ValueKnownIndicator)))">rule|text|R-GZ1-C59</assert>
        <assert id="R-HHW-R5A" role="ERROR" diagnostics="ND-SubcontractingValueKnownUnpublish_BT-196_BT-730_-Tender" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-HHW-R5A</assert>
        <assert id="R-FQO-F1L" role="ERROR" diagnostics="ND-SubcontractingValueKnownUnpublish_BT-197_BT-730_-Tender" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-FQO-F1L</assert>
        <assert id="R-UEH-DPW" role="ERROR" diagnostics="ND-SubcontractingValueKnownUnpublish_BT-197_BT-730_-Tender" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-UEH-DPW</assert>
        <assert id="R-6YJ-N0E" role="ERROR" diagnostics="ND-SubcontractingValueKnownUnpublish_BT-198_BT-730_-Tender" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-6YJ-N0E</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:SubcontractingTerm[efbc:TermCode/@listName='applicability']/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='sub-val']">
        <assert id="R-UCI-U8W" role="ERROR" diagnostics="ND-SubcontractingValueUnpublish_BT-195_BT-553_-Tender" test="(not(efbc:FieldIdentifierCode)) or (not(not(../efbc:TermAmount)))">rule|text|R-UCI-U8W</assert>
        <assert id="R-H8M-23G" role="ERROR" diagnostics="ND-SubcontractingValueUnpublish_BT-196_BT-553_-Tender" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-H8M-23G</assert>
        <assert id="R-M75-9T9" role="ERROR" diagnostics="ND-SubcontractingValueUnpublish_BT-197_BT-553_-Tender" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-M75-9T9</assert>
        <assert id="R-SHT-9GJ" role="ERROR" diagnostics="ND-SubcontractingValueUnpublish_BT-197_BT-553_-Tender" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-SHT-9GJ</assert>
        <assert id="R-MJV-PBZ" role="ERROR" diagnostics="ND-SubcontractingValueUnpublish_BT-198_BT-553_-Tender" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-MJV-PBZ</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='ten-ran']">
        <assert id="R-CCP-C91" role="ERROR" diagnostics="ND-TenderRankUnpublish_BT-195_BT-171_-Tender" test="(not(efbc:FieldIdentifierCode)) or (not(not(../cbc:RankCode)))">rule|text|R-CCP-C91</assert>
        <assert id="R-ZVE-TSG" role="ERROR" diagnostics="ND-TenderRankUnpublish_BT-196_BT-171_-Tender" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-ZVE-TSG</assert>
        <assert id="R-AY5-AQS" role="ERROR" diagnostics="ND-TenderRankUnpublish_BT-197_BT-171_-Tender" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-AY5-AQS</assert>
        <assert id="R-EGI-8XQ" role="ERROR" diagnostics="ND-TenderRankUnpublish_BT-197_BT-171_-Tender" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-EGI-8XQ</assert>
        <assert id="R-V6Z-8L4" role="ERROR" diagnostics="ND-TenderRankUnpublish_BT-198_BT-171_-Tender" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-V6Z-8L4</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:TenderingParty/efac:Tenderer">
        <assert id="R-NTL-4SB" role="ERROR" diagnostics="ND-Tenderer_OPT-170-Tenderer" test="(not(efbc:GroupLeadIndicator)) or (not(../cbc:ID[count(../efac:Tenderer/cbc:ID/normalize-space(text())) &lt; 2]))">rule|text|R-NTL-4SB</assert>
        <assert id="R-XYJ-1C9" role="ERROR" diagnostics="ND-Tenderer_OPT-170-Tenderer" test="(efbc:GroupLeadIndicator) or (not(not(../cbc:ID[count(../efac:Tenderer/cbc:ID/normalize-space(text())) &lt; 2])))">rule|text|R-XYJ-1C9</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingTerms/cac:TendererQualificationRequest[not(cac:SpecificTendererRequirement)]">
        <assert id="R-H31-S9Y" role="ERROR" diagnostics="ND-TendererLegalForm_BT-76-Lot" test="(not(cbc:CompanyLegalForm)) or (not(not(cbc:CompanyLegalFormCode/normalize-space(text()) = 'true')))">rule|text|R-H31-S9Y</assert>
        <assert id="R-PN7-L0O" role="ERROR" diagnostics="ND-TendererLegalForm_BT-76-Lot" test="(cbc:CompanyLegalForm) or (not(cbc:CompanyLegalFormCode/normalize-space(text()) = 'true'))">rule|text|R-PN7-L0O</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:TenderingParty">
        <assert id="R-L44-N8V" role="ERROR" diagnostics="ND-TenderingParty_OPT-300-Tenderer" test="(not(efac:Tenderer/cbc:ID)) or (not(not(../efac:LotTender/cbc:ID)))">rule|text|R-L44-N8V</assert>
        <assert id="R-1NS-LLY" role="ERROR" diagnostics="ND-TenderingParty_OPT-300-Tenderer" test="(efac:Tenderer/cbc:ID) or (not(not(not(../efac:LotTender/cbc:ID))))">rule|text|R-1NS-LLY</assert>
        <assert id="R-5Y6-44Y" role="ERROR" diagnostics="ND-TenderingParty_OPT-301-Tenderer-SubCont" test="(not(efac:SubContractor/cbc:ID)) or (not(not(efac:Tenderer/cbc:ID)))">rule|text|R-5Y6-44Y</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:TouchPoint">
        <assert id="R-81F-UH6" role="ERROR" diagnostics="ND-Touchpoint_BT-16-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:Department)) or (not(not(cac:PartyName/cbc:Name)))">rule|text|R-81F-UH6</assert>
        <assert id="R-OMA-6QL" role="ERROR" diagnostics="ND-Touchpoint_BT-507-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:CountrySubentityCode)) or (not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX'))))">rule|text|R-OMA-6QL</assert>
        <assert id="R-M1R-PVG" role="ERROR" diagnostics="ND-Touchpoint_BT-507-Organization-TouchPoint" test="(cac:PostalAddress/cbc:CountrySubentityCode) or (not(not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX')))))">rule|text|R-M1R-PVG</assert>
        <assert id="R-DTG-235" role="ERROR" diagnostics="ND-Touchpoint_BT-510_a_-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:StreetName)) or (not(not(cac:PostalAddress/cbc:CityName)))">rule|text|R-DTG-235</assert>
        <assert id="R-3JA-HHL" role="ERROR" diagnostics="ND-Touchpoint_BT-510_b_-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:AdditionalStreetName)) or (not(not(cac:PostalAddress/cbc:StreetName)))">rule|text|R-3JA-HHL</assert>
        <assert id="R-ETI-PYM" role="ERROR" diagnostics="ND-Touchpoint_BT-510_c_-Organization-TouchPoint" test="(not(cac:PostalAddress/cac:AddressLine/cbc:Line)) or (not(not(cac:PostalAddress/cbc:AdditionalStreetName)))">rule|text|R-ETI-PYM</assert>
        <assert id="R-SAY-IDR" role="ERROR" diagnostics="ND-Touchpoint_BT-512-Organization-TouchPoint" test="(cac:PostalAddress/cbc:PostalZone) or (not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('AFG','ALA','ALB','AND','ARG','ARM','AUS','AUT','AZE','BEL','BGD','BGR','BHR','BIH','BLM','BLR','BMU','BRA','BRB','BRN','BTN','CAN','CHE','CHL','CHN','COL','CPT','CPV','CRI','CUB','CYM','CYP','CZE','DEU','DJI','DNK','DOM','DZA','ECU','EGY','ESP','EST','ETH','FIN','FRA','FRO','FSM','GBR','GEO','GGY','GIN','GNB','GRC','GRL','GTM','GUM','HND','HRV','HTI','HUN','IDN','IMN','IND','IRL','IRN','IRQ','ISL','ISR','ITA','JEY','JOR','JPN','KAZ','KEN','KGZ','KHM','KIR','KOR','KWT','LAO','LBN','LIE','LKA','LSO','LTU','LUX','LVA','MAF','MAR','MCO','MDA','MDG','MDV','MEX','MHL','MLT','MMR','MNE','MNG','MOZ','MSR','MUS','MWI','MYS','NAM','NCL','NER','NGA','NIC','NLD','NOR','NPL','NRU','NZL','OMN','PAK','PER','PHL','PNG','POL','PRI','PRT','PRY','PSE','PYF','ROU','RUS','SAU','SDN','SEN','SGP','SJM','SLV','SMR','SPM','SRB','SVK','SVN','SWE','SWZ','THA','TJK','TKM','TLS','TTO','TUN','TUR','UKR','URY','USA','UZB','VCT','VEN','VGB','VIR','VNM','WLF','ZAF')))">rule|text|R-SAY-IDR</assert>
        <assert id="R-2OX-PDZ" role="ERROR" diagnostics="ND-Touchpoint_BT-513-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:CityName)) or (not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode)))">rule|text|R-2OX-PDZ</assert>
        <assert id="R-QBU-VVH" role="ERROR" diagnostics="ND-Touchpoint_BT-513-Organization-TouchPoint" test="(cac:PostalAddress/cbc:CityName) or (not(not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode))))">rule|text|R-QBU-VVH</assert>
        <assert id="R-EDA-JIW" role="ERROR" diagnostics="ND-Touchpoint_BT-514-Organization-TouchPoint" test="(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode)) or (not(not(cac:PartyName/cbc:Name)))">rule|text|R-EDA-JIW</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:ConcessionRevenue/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='val-con-des']">
        <assert id="R-H1K-IRC" role="ERROR" diagnostics="ND-ValueConcessionDescriptionUnpublish_BT-195_BT-163_-Tender" test="(not(efbc:FieldIdentifierCode)) or (not(not(../efbc:ValueDescription)))">rule|text|R-H1K-IRC</assert>
        <assert id="R-LFO-ECN" role="ERROR" diagnostics="ND-ValueConcessionDescriptionUnpublish_BT-196_BT-163_-Tender" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-LFO-ECN</assert>
        <assert id="R-O78-WCJ" role="ERROR" diagnostics="ND-ValueConcessionDescriptionUnpublish_BT-197_BT-163_-Tender" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-O78-WCJ</assert>
        <assert id="R-L3A-MUV" role="ERROR" diagnostics="ND-ValueConcessionDescriptionUnpublish_BT-197_BT-163_-Tender" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-L3A-MUV</assert>
        <assert id="R-J7E-TYZ" role="ERROR" diagnostics="ND-ValueConcessionDescriptionUnpublish_BT-198_BT-163_-Tender" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-J7E-TYZ</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='win-ten-val']">
        <assert id="R-A7R-9M9" role="ERROR" diagnostics="ND-WinningTenderValueUnpublish_BT-195_BT-720_-Tender" test="(not(efbc:FieldIdentifierCode)) or (not(not(../cac:LegalMonetaryTotal/cbc:PayableAmount)))">rule|text|R-A7R-9M9</assert>
        <assert id="R-FPZ-KSA" role="ERROR" diagnostics="ND-WinningTenderValueUnpublish_BT-196_BT-720_-Tender" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-FPZ-KSA</assert>
        <assert id="R-EPQ-CYZ" role="ERROR" diagnostics="ND-WinningTenderValueUnpublish_BT-197_BT-720_-Tender" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-EPQ-CYZ</assert>
        <assert id="R-NI3-4NK" role="ERROR" diagnostics="ND-WinningTenderValueUnpublish_BT-197_BT-720_-Tender" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-NI3-4NK</assert>
        <assert id="R-P9H-AFD" role="ERROR" diagnostics="ND-WinningTenderValueUnpublish_BT-198_BT-720_-Tender" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-P9H-AFD</assert>
    </rule>
</pattern>
