schematrons/dynamic/validation-stage-3b-E1.sch

<?xml version="1.0" encoding="UTF-8" ?>
<!--File generated from metadata database-->
<pattern id="EFORMS-validation-stage-3b-E1" xmlns="http://purl.oclc.org/dsdl/schematron">
	<rule context="/*/cbc:RegulatoryDomain[$noticeSubType = 'E1']">
		<assert id="BR-BT-00001-0206" role="ERROR" test="normalize-space(.) = ('32009L0081', '32014L0023', '32014L0024', '32014L0025', '32018R1046', 'other')">rule|text|BR-BT-00001-0206</assert>
	</rule>
</pattern>
