schematrons/dynamic/validation-stage-6a.sch

<?xml version="1.0" encoding="UTF-8" ?>
<!--File generated from metadata database-->
<pattern id="EFORMS-validation-stage-6a" xmlns="http://purl.oclc.org/dsdl/schematron">
	<rule context="/*/cac:ProcurementProject/cac:MainCommodityClassification[/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efbc:ChangedNoticeIdentifier]">
		<assert id="BR-BT-00262-0300" role="ERROR" diagnostics="BT-262-Procedure" test="(cbc:ItemClassificationCode/normalize-space(text()) = fn:doc(concat($urlPrefix, /*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efbc:ChangedNoticeIdentifier/normalize-space(text())))/*/cac:ProcurementProject/cac:MainCommodityClassification/cbc:ItemClassificationCode/normalize-space(text())) or not(fn:doc(concat($urlPrefix, /*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efbc:ChangedNoticeIdentifier/normalize-space(text())))/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeSubType/cbc:SubTypeCode/normalize-space(text()) = ('10','11','CEI','12','13','14','15','16','17','18','19','E3','20','21','22','23','24','25','26','27','28','29','30','31','32','E4','T02','33','34','35','36','37','38','39','40','E5') and (fn:doc(concat($urlPrefix, /*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efbc:ChangedNoticeIdentifier/normalize-space(text())))/*/cac:ProcurementProject/cac:MainCommodityClassification/cbc:ItemClassificationCode))">rule|text|BR-BT-00262-0300</assert>
	</rule>
</pattern>