schematrons/dynamic/validation-stage-4-4.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-4-4" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efac:Change">
        <assert id="R-KCK-FII" role="ERROR" diagnostics="ND-Change_BT-141_a_-notice" test="(not(efbc:ChangeDescription)) or (not(not(efac:ChangedSection/efbc:ChangedSectionIdentifier)))">rule|text|R-KCK-FII</assert>
        <assert id="R-1NG-MG0" role="ERROR" diagnostics="ND-Change_BT-718-notice" test="(not(efbc:ProcurementDocumentsChangeIndicator)) or (not(not(efac:ChangedSection/efbc:ChangedSectionIdentifier)))">rule|text|R-1NG-MG0</assert>
        <assert id="R-5EZ-3OO" role="ERROR" diagnostics="ND-Change_BT-719-notice" test="(not(efbc:ProcurementDocumentsChangeDate)) or (not(not(efbc:ProcurementDocumentsChangeIndicator = true())))">rule|text|R-5EZ-3OO</assert>
        <assert id="R-MSX-Q3H" role="ERROR" diagnostics="ND-Change_BT-719-notice" test="(efbc:ProcurementDocumentsChangeDate) or (not(efbc:ProcurementDocumentsChangeIndicator = true()))">rule|text|R-MSX-Q3H</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efac:Change/efac:ChangedSection">
        <assert id="R-TC6-DR2" role="ERROR" diagnostics="ND-ChangedSection_BT-13716-notice" test="(not(efbc:ChangedSectionIdentifier)) or (not(not(../../efbc:ChangedNoticeIdentifier)))">rule|text|R-TC6-DR2</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:Company">
        <assert id="R-2YU-B6H" role="ERROR" diagnostics="ND-Company_BT-503-Organization-Company" test="(cac:Contact/cbc:Telephone) or (not((cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text()))))">rule|text|R-2YU-B6H</assert>
        <assert id="R-W63-KCM" role="ERROR" diagnostics="ND-Company_BT-506-Organization-Company" test="(cac:Contact/cbc:ElectronicMail) or (not((cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text()))))">rule|text|R-W63-KCM</assert>
        <assert id="R-IM0-8CV" role="ERROR" diagnostics="ND-Company_BT-507-Organization-Company" test="(not(cac:PostalAddress/cbc:CountrySubentityCode)) or (not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX'))))">rule|text|R-IM0-8CV</assert>
        <assert id="R-6L0-71L" role="ERROR" diagnostics="ND-Company_BT-507-Organization-Company" test="(cac:PostalAddress/cbc:CountrySubentityCode) or (not(not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX')))))">rule|text|R-6L0-71L</assert>
        <assert id="R-VJQ-ZSG" role="ERROR" diagnostics="ND-Company_BT-510_a_-Organization-Company" test="(not(cac:PostalAddress/cbc:StreetName)) or (not(not(cac:PostalAddress/cbc:CityName)))">rule|text|R-VJQ-ZSG</assert>
        <assert id="R-6RV-RSQ" role="ERROR" diagnostics="ND-Company_BT-510_b_-Organization-Company" test="(not(cac:PostalAddress/cbc:AdditionalStreetName)) or (not(not(cac:PostalAddress/cbc:StreetName)))">rule|text|R-6RV-RSQ</assert>
        <assert id="R-OS0-QIK" role="ERROR" diagnostics="ND-Company_BT-510_c_-Organization-Company" test="(not(cac:PostalAddress/cac:AddressLine/cbc:Line)) or (not(not(cac:PostalAddress/cbc:AdditionalStreetName)))">rule|text|R-OS0-QIK</assert>
        <assert id="R-OO2-8CS" role="ERROR" diagnostics="ND-Company_BT-512-Organization-Company" test="(cac:PostalAddress/cbc:PostalZone) or (not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('AFG','ALA','ALB','AND','ARG','ARM','AUS','AUT','AZE','BEL','BGD','BGR','BHR','BIH','BLM','BLR','BMU','BRA','BRB','BRN','BTN','CAN','CHE','CHL','CHN','COL','CPT','CPV','CRI','CUB','CYM','CYP','CZE','DEU','DJI','DNK','DOM','DZA','ECU','EGY','ESP','EST','ETH','FIN','FRA','FRO','FSM','GBR','GEO','GGY','GIN','GNB','GRC','GRL','GTM','GUM','HND','HRV','HTI','HUN','IDN','IMN','IND','IRL','IRN','IRQ','ISL','ISR','ITA','JEY','JOR','JPN','KAZ','KEN','KGZ','KHM','KIR','KOR','KWT','LAO','LBN','LIE','LKA','LSO','LTU','LUX','LVA','MAF','MAR','MCO','MDA','MDG','MDV','MEX','MHL','MLT','MMR','MNE','MNG','MOZ','MSR','MUS','MWI','MYS','NAM','NCL','NER','NGA','NIC','NLD','NOR','NPL','NRU','NZL','OMN','PAK','PER','PHL','PNG','POL','PRI','PRT','PRY','PSE','PYF','ROU','RUS','SAU','SDN','SEN','SGP','SJM','SLV','SMR','SPM','SRB','SVK','SVN','SWE','SWZ','THA','TJK','TKM','TLS','TTO','TUN','TUR','UKR','URY','USA','UZB','VCT','VEN','VGB','VIR','VNM','WLF','ZAF')))">rule|text|R-OO2-8CS</assert>
    </rule>
    <rule context="/*/cac:TenderingTerms/cac:ProcurementLegislationDocumentReference[cbc:ID/text()='LocalLegalBasis']">
        <assert id="R-WSW-QCT" role="ERROR" diagnostics="ND-LocalLegalBasisNoID_BT-01_f_-Procedure" test="(not(cbc:DocumentDescription)) or (not(not(cbc:ID)))">rule|text|R-WSW-QCT</assert>
        <assert id="R-S4N-ELQ" role="ERROR" diagnostics="ND-LocalLegalBasisNoID_BT-01_f_-Procedure" test="(cbc:DocumentDescription) or (not(not(not(cbc:ID))))">rule|text|R-S4N-ELQ</assert>
    </rule>
    <rule context="/*/cac:TenderingTerms/cac:ProcurementLegislationDocumentReference[not(cbc:ID/text()=('CrossBorderLaw','LocalLegalBasis'))]">
        <assert id="R-MA8-D75" role="ERROR" diagnostics="ND-LocalLegalBasisWithID_BT-01_d_-Procedure" test="(not(cbc:DocumentDescription)) or (not(not(cbc:ID)))">rule|text|R-MA8-D75</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization">
        <assert id="R-T96-GZP" role="ERROR" diagnostics="ND-Organization_OPP-050-Organization" test="(not(efbc:GroupLeadIndicator)) or (not(not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text())) or (count(../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text())) &lt; 2)))">rule|text|R-T96-GZP</assert>
        <assert id="R-53R-6MC" role="ERROR" diagnostics="ND-Organization_OPP-050-Organization" test="(efbc:GroupLeadIndicator) or (not(not(not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text())) or (count(../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text())) &lt; 2))))">rule|text|R-53R-6MC</assert>
        <assert id="R-3Y4-ZYH" role="ERROR" diagnostics="ND-Organization_OPP-051-Organization" test="(not(efbc:AwardingCPBIndicator)) or (not(not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text()))))">rule|text|R-3Y4-ZYH</assert>
        <assert id="R-Z58-QIX" role="ERROR" diagnostics="ND-Organization_OPP-051-Organization" test="(efbc:AwardingCPBIndicator) or (not((efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text())) and (some $x in ../../../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='dps-usage']/cbc:ContractingSystemTypeCode/normalize-space(text()) satisfies $x = 'dps-nlist') and (not(efbc:AcquiringCPBIndicator))))">rule|text|R-Z58-QIX</assert>
        <assert id="R-I8W-45W" role="ERROR" diagnostics="ND-Organization_OPP-052-Organization" test="(not(efbc:AcquiringCPBIndicator)) or (not(not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text()))))">rule|text|R-I8W-45W</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Part']/cac:ProcurementProject/cac:AdditionalCommodityClassification">
        <assert id="R-ZFS-N7W" role="ERROR" diagnostics="ND-PartAdditionalClassification_BT-26_a_-Part" test="(not(cbc:ItemClassificationCode/@listName)) or (not(not(cbc:ItemClassificationCode)))">rule|text|R-ZFS-N7W</assert>
        <assert id="R-8SD-END" role="ERROR" diagnostics="ND-PartAdditionalClassification_BT-26_a_-Part" test="(cbc:ItemClassificationCode/@listName) or (not(not(not(cbc:ItemClassificationCode))))">rule|text|R-8SD-END</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Part']/cac:ProcurementProject/cac:PlannedPeriod">
        <assert id="R-U2G-J4W" role="ERROR" diagnostics="ND-PartDuration_BT-36-Part" test="(not(cbc:DurationMeasure)) or (not((cbc:StartDate and cbc:EndDate) or cbc:DescriptionCode))">rule|text|R-U2G-J4W</assert>
        <assert id="R-DWO-8H8" role="ERROR" diagnostics="ND-PartDuration_BT-536-Part" test="(not(cbc:StartDate)) or (not((cbc:DurationMeasure and cbc:EndDate) or (cbc:DescriptionCode and cbc:EndDate)))">rule|text|R-DWO-8H8</assert>
        <assert id="R-Z10-F9I" role="ERROR" diagnostics="ND-PartDuration_BT-537-Part" test="(not(cbc:EndDate)) or (not((cbc:StartDate and cbc:DescriptionCode) or (cbc:StartDate and cbc:DurationMeasure) or (cbc:DescriptionCode and cbc:DescriptionCode/normalize-space(text()) = 'UNLIMITED')))">rule|text|R-Z10-F9I</assert>
        <assert id="R-GVN-SS6" role="ERROR" diagnostics="ND-PartDuration_BT-538-Part" test="(not(cbc:DescriptionCode)) or (not(cbc:DurationMeasure or (cbc:EndDate and cbc:StartDate)))">rule|text|R-GVN-SS6</assert>
        <assert id="R-KR6-Q0G" role="ERROR" diagnostics="ND-PartDuration_OPA-36-Part-Number" test="(not(cbc:DurationMeasure)) or (not((cbc:StartDate and cbc:EndDate) or cbc:DescriptionCode))">rule|text|R-KR6-Q0G</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Part']/cac:TenderingProcess/cac:AdditionalInformationRequestPeriod">
        <assert id="R-0BM-WY3" role="ERROR" diagnostics="ND-PartInfoRequestPeriod_BT-13_t_-Part" test="(not(cbc:EndTime)) or (not(not(cbc:EndDate)))">rule|text|R-0BM-WY3</assert>
        <assert id="R-HLW-Y73" role="ERROR" diagnostics="ND-PartInfoRequestPeriod_BT-13_t_-Part" test="(cbc:EndTime) or (not(not(not(cbc:EndDate))))">rule|text|R-HLW-Y73</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Part']/cac:ProcurementProject/cac:MainCommodityClassification">
        <assert id="R-RL8-YVX" role="ERROR" diagnostics="ND-PartMainClassification_BT-26_m_-Part" test="(not(cbc:ItemClassificationCode/@listName)) or (not(not(cbc:ItemClassificationCode)))">rule|text|R-RL8-YVX</assert>
        <assert id="R-PCS-CCL" role="ERROR" diagnostics="ND-PartMainClassification_BT-26_m_-Part" test="(cbc:ItemClassificationCode/@listName) or (not(not(not(cbc:ItemClassificationCode))))">rule|text|R-PCS-CCL</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Part']/cac:ProcurementProject/cac:RealizedLocation">
        <assert id="R-U8R-OBM" role="ERROR" diagnostics="ND-PartPlacePerformance_BT-5071-Part" test="(not(cac:Address/cbc:CountrySubentityCode)) or (not(cac:Address/cbc:Region or not(cac:Address/cac:Country/cbc:IdentificationCode)))">rule|text|R-U8R-OBM</assert>
        <assert id="R-6TC-BGB" role="ERROR" diagnostics="ND-PartPlacePerformance_BT-5071-Part" test="(cac:Address/cbc:CountrySubentityCode) or (not((not(cac:Address/cbc:Region)) and cac:Address/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX')))">rule|text|R-6TC-BGB</assert>
        <assert id="R-3KK-ZDO" role="ERROR" diagnostics="ND-PartPlacePerformance_BT-5101_a_-Part" test="(not(cac:Address/cbc:StreetName)) or (not(not(cac:Address/cbc:CityName)))">rule|text|R-3KK-ZDO</assert>
        <assert id="R-VV4-DON" role="ERROR" diagnostics="ND-PartPlacePerformance_BT-5101_b_-Part" test="(not(cac:Address/cbc:AdditionalStreetName)) or (not(not(cac:Address/cbc:StreetName)))">rule|text|R-VV4-DON</assert>
        <assert id="R-XA2-E21" role="ERROR" diagnostics="ND-PartPlacePerformance_BT-5101_c_-Part" test="(not(cac:Address/cac:AddressLine/cbc:Line)) or (not(not(cac:Address/cbc:AdditionalStreetName)))">rule|text|R-XA2-E21</assert>
        <assert id="R-I62-NWQ" role="ERROR" diagnostics="ND-PartPlacePerformance_BT-5121-Part" test="(not(cac:Address/cbc:PostalZone)) or (not(not(cac:Address/cbc:CityName)))">rule|text|R-I62-NWQ</assert>
        <assert id="R-2VO-7QQ" role="ERROR" diagnostics="ND-PartPlacePerformance_BT-5121-Part" test="(cac:Address/cbc:PostalZone) or (not(cac:Address/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('AFG','ALA','ALB','AND','ARG','ARM','AUS','AUT','AZE','BEL','BGD','BGR','BHR','BIH','BLM','BLR','BMU','BRA','BRB','BRN','BTN','CAN','CHE','CHL','CHN','COL','CPT','CPV','CRI','CUB','CYM','CYP','CZE','DEU','DJI','DNK','DOM','DZA','ECU','EGY','ESP','EST','ETH','FIN','FRA','FRO','FSM','GBR','GEO','GGY','GIN','GNB','GRC','GRL','GTM','GUM','HND','HRV','HTI','HUN','IDN','IMN','IND','IRL','IRN','IRQ','ISL','ISR','ITA','JEY','JOR','JPN','KAZ','KEN','KGZ','KHM','KIR','KOR','KWT','LAO','LBN','LIE','LKA','LSO','LTU','LUX','LVA','MAF','MAR','MCO','MDA','MDG','MDV','MEX','MHL','MLT','MMR','MNE','MNG','MOZ','MSR','MUS','MWI','MYS','NAM','NCL','NER','NGA','NIC','NLD','NOR','NPL','NRU','NZL','OMN','PAK','PER','PHL','PNG','POL','PRI','PRT','PRY','PSE','PYF','ROU','RUS','SAU','SDN','SEN','SGP','SJM','SLV','SMR','SPM','SRB','SVK','SVN','SWE','SWZ','THA','TJK','TKM','TLS','TTO','TUN','TUR','UKR','URY','USA','UZB','VCT','VEN','VGB','VIR','VNM','WLF','ZAF') and cac:Address/cbc:StreetName))">rule|text|R-2VO-7QQ</assert>
        <assert id="R-H80-CVX" role="ERROR" diagnostics="ND-PartPlacePerformance_BT-5131-Part" test="(not(cac:Address/cbc:CityName)) or (not(cac:Address/cbc:Region or not(cac:Address/cac:Country/cbc:IdentificationCode)))">rule|text|R-H80-CVX</assert>
        <assert id="R-QTJ-THY" role="ERROR" diagnostics="ND-PartPlacePerformance_BT-5141-Part" test="(not(cac:Address/cac:Country/cbc:IdentificationCode)) or (not(cac:Address/cbc:Region/normalize-space(text()) = ('anyw','anyw-eea')))">rule|text|R-QTJ-THY</assert>
        <assert id="R-AR0-ASS" role="ERROR" diagnostics="ND-PartPlacePerformance_BT-5141-Part" test="(cac:Address/cac:Country/cbc:IdentificationCode) or (not(not(cac:Address/cbc:Region/normalize-space(text()) = ('anyw','anyw-eea'))))">rule|text|R-AR0-ASS</assert>
        <assert id="R-E0C-E1H" role="ERROR" diagnostics="ND-PartPlacePerformance_BT-727-Part" test="(not(cac:Address/cbc:Region)) or (not(cac:Address/cbc:CountrySubentityCode))">rule|text|R-E0C-E1H</assert>
        <assert id="R-DWX-3GA" role="ERROR" diagnostics="ND-PartPlacePerformance_BT-728-Part" test="(not(cbc:Description)) or (not(not(cac:Address/cbc:Region) and not(cac:Address/cac:Country/cbc:IdentificationCode)))">rule|text|R-DWX-3GA</assert>
        <assert id="R-QA8-MRU" role="ERROR" diagnostics="ND-PartPlacePerformance_BT-728-Part" test="(cbc:Description) or (not((not(cac:Address/cbc:Region)) and (not(cac:Address/cbc:CountrySubentityCode)) and (not(cac:Address/cbc:CityName))))">rule|text|R-QA8-MRU</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Part']/cac:TenderingProcess/cac:NoticeDocumentReference">
        <assert id="R-YBW-8GM" role="ERROR" diagnostics="ND-PartPreviousPlanning_BT-1251-Part" test="(not(cbc:ReferencedDocumentInternalAddress)) or (not(not(cbc:ID)))">rule|text|R-YBW-8GM</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Part']/cac:TenderingTerms/cac:CallForTendersDocumentReference">
        <assert id="R-ASY-HWA" role="ERROR" diagnostics="ND-PartProcurementDocument_BT-15-Part" test="(not(cac:Attachment[../cbc:DocumentType/text()='non-restricted-document']/cac:ExternalReference/cbc:URI)) or (not(not(cbc:DocumentType/normalize-space(text()) = 'non-restricted-document')))">rule|text|R-ASY-HWA</assert>
        <assert id="R-2KI-YJV" role="ERROR" diagnostics="ND-PartProcurementDocument_BT-15-Part" test="(cac:Attachment[../cbc:DocumentType/text()='non-restricted-document']/cac:ExternalReference/cbc:URI) or (not(cbc:DocumentType/normalize-space(text()) = 'non-restricted-document'))">rule|text|R-2KI-YJV</assert>
        <assert id="R-XOY-7WV" role="ERROR" diagnostics="ND-PartProcurementDocument_BT-615-Part" test="(not(cac:Attachment[../cbc:DocumentType/text()='restricted-document']/cac:ExternalReference/cbc:URI)) or (not(not(cbc:DocumentType/normalize-space(text()) = 'restricted-document')))">rule|text|R-XOY-7WV</assert>
        <assert id="R-GKP-U1Z" role="ERROR" diagnostics="ND-PartProcurementDocument_BT-615-Part" test="(cac:Attachment[../cbc:DocumentType/text()='restricted-document']/cac:ExternalReference/cbc:URI) or (not(cbc:DocumentType/normalize-space(text()) = 'restricted-document'))">rule|text|R-GKP-U1Z</assert>
        <assert id="R-IHT-8HF" role="ERROR" diagnostics="ND-PartProcurementDocument_BT-707-Part" test="(not(cbc:DocumentTypeCode)) or (not(not(cbc:DocumentType/normalize-space(text()) = 'restricted-document')))">rule|text|R-IHT-8HF</assert>
        <assert id="R-II4-603" role="ERROR" diagnostics="ND-PartProcurementDocument_BT-708-Part" test="(not(ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:OfficialLanguages/cac:Language/cbc:ID)) or (not(not(cbc:DocumentType)))">rule|text|R-II4-603</assert>
        <assert id="R-XQE-1V0" role="ERROR" diagnostics="ND-PartProcurementDocument_BT-737-Part" test="(not(ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NonOfficialLanguages/cac:Language/cbc:ID)) or (not(not(cbc:DocumentType)))">rule|text|R-XQE-1V0</assert>
        <assert id="R-EVS-SRD" role="ERROR" diagnostics="ND-PartProcurementDocument_OPT-140-Part" test="(not(cbc:ID)) or (not(not(cbc:DocumentType)))">rule|text|R-EVS-SRD</assert>
        <assert id="R-WMT-8BE" role="ERROR" diagnostics="ND-PartProcurementDocument_OPT-140-Part" test="(cbc:ID) or (not(not(not(cbc:DocumentType))))">rule|text|R-WMT-8BE</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Part']/cac:ProcurementProject">
        <assert id="R-66U-L1L" role="ERROR" diagnostics="ND-PartProcurementScope_BT-531-Part" test="(not(cac:ProcurementAdditionalType[cbc:ProcurementTypeCode/@listName='contract-nature']/cbc:ProcurementTypeCode)) or (not(not(cbc:ProcurementTypeCode[@listName='contract-nature'])))">rule|text|R-66U-L1L</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject/cac:AdditionalCommodityClassification">
        <assert id="R-DKC-DB2" role="ERROR" diagnostics="ND-ProcedureAdditionalCommodityClassification_BT-26_a_-Procedure" test="(not(cbc:ItemClassificationCode/@listName)) or (not(not(cbc:ItemClassificationCode)))">rule|text|R-DKC-DB2</assert>
        <assert id="R-7VA-45V" role="ERROR" diagnostics="ND-ProcedureAdditionalCommodityClassification_BT-26_a_-Procedure" test="(cbc:ItemClassificationCode/@listName) or (not(not(not(cbc:ItemClassificationCode))))">rule|text|R-7VA-45V</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject/cac:MainCommodityClassification">
        <assert id="R-77Q-74K" role="ERROR" diagnostics="ND-ProcedureMainClassification_BT-26_m_-Procedure" test="(not(cbc:ItemClassificationCode/@listName)) or (not(not(cbc:ItemClassificationCode)))">rule|text|R-77Q-74K</assert>
        <assert id="R-HLV-NX6" role="ERROR" diagnostics="ND-ProcedureMainClassification_BT-26_m_-Procedure" test="(cbc:ItemClassificationCode/@listName) or (not(not(not(cbc:ItemClassificationCode))))">rule|text|R-HLV-NX6</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject/cac:RealizedLocation/cac:Address">
        <assert id="R-8O3-GKH" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5071-Procedure" test="(not(cbc:CountrySubentityCode)) or (not(cbc:Region or not(cac:Country/cbc:IdentificationCode)))">rule|text|R-8O3-GKH</assert>
        <assert id="R-7UU-QJ3" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5071-Procedure" test="(cbc:CountrySubentityCode) or (not((not(cbc:Region)) and cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX')))">rule|text|R-7UU-QJ3</assert>
        <assert id="R-9HD-DIN" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5101_a_-Procedure" test="(not(cbc:StreetName)) or (not(not(cbc:CityName)))">rule|text|R-9HD-DIN</assert>
        <assert id="R-CHP-9T7" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5101_b_-Procedure" test="(not(cbc:AdditionalStreetName)) or (not(not(cbc:StreetName)))">rule|text|R-CHP-9T7</assert>
        <assert id="R-7ZZ-T7Z" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5101_c_-Procedure" test="(not(cac:AddressLine/cbc:Line)) or (not(not(cbc:AdditionalStreetName)))">rule|text|R-7ZZ-T7Z</assert>
        <assert id="R-VWQ-LUU" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5121-Procedure" test="(not(cbc:PostalZone)) or (not(not(cbc:CityName)))">rule|text|R-VWQ-LUU</assert>
        <assert id="R-DSD-XYA" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5121-Procedure" test="(cbc:PostalZone) or (not(cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('AFG','ALA','ALB','AND','ARG','ARM','AUS','AUT','AZE','BEL','BGD','BGR','BHR','BIH','BLM','BLR','BMU','BRA','BRB','BRN','BTN','CAN','CHE','CHL','CHN','COL','CPT','CPV','CRI','CUB','CYM','CYP','CZE','DEU','DJI','DNK','DOM','DZA','ECU','EGY','ESP','EST','ETH','FIN','FRA','FRO','FSM','GBR','GEO','GGY','GIN','GNB','GRC','GRL','GTM','GUM','HND','HRV','HTI','HUN','IDN','IMN','IND','IRL','IRN','IRQ','ISL','ISR','ITA','JEY','JOR','JPN','KAZ','KEN','KGZ','KHM','KIR','KOR','KWT','LAO','LBN','LIE','LKA','LSO','LTU','LUX','LVA','MAF','MAR','MCO','MDA','MDG','MDV','MEX','MHL','MLT','MMR','MNE','MNG','MOZ','MSR','MUS','MWI','MYS','NAM','NCL','NER','NGA','NIC','NLD','NOR','NPL','NRU','NZL','OMN','PAK','PER','PHL','PNG','POL','PRI','PRT','PRY','PSE','PYF','ROU','RUS','SAU','SDN','SEN','SGP','SJM','SLV','SMR','SPM','SRB','SVK','SVN','SWE','SWZ','THA','TJK','TKM','TLS','TTO','TUN','TUR','UKR','URY','USA','UZB','VCT','VEN','VGB','VIR','VNM','WLF','ZAF') and cbc:StreetName))">rule|text|R-DSD-XYA</assert>
        <assert id="R-K3Q-CO1" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5131-Procedure" test="(not(cbc:CityName)) or (not(cbc:Region or not(cac:Country/cbc:IdentificationCode)))">rule|text|R-K3Q-CO1</assert>
        <assert id="R-O2S-N2J" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5141-Procedure" test="(not(cac:Country/cbc:IdentificationCode)) or (not(cbc:Region/normalize-space(text()) = ('anyw','anyw-eea')))">rule|text|R-O2S-N2J</assert>
        <assert id="R-GLH-4Y9" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5141-Procedure" test="(cac:Country/cbc:IdentificationCode) or (not(not(cbc:Region/normalize-space(text()) = ('anyw','anyw-eea'))))">rule|text|R-GLH-4Y9</assert>
        <assert id="R-I6Q-2VO" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-727-Procedure" test="(not(cbc:Region)) or (not(cbc:CountrySubentityCode))">rule|text|R-I6Q-2VO</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject/cac:RealizedLocation">
        <assert id="R-CP6-E6O" role="ERROR" diagnostics="ND-ProcedurePlacePerformanceAdditionalInformation_BT-728-Procedure" test="(not(cbc:Description)) or (not(not(cac:Address/cbc:Region) and not(cac:Address/cac:Country/cbc:IdentificationCode)))">rule|text|R-CP6-E6O</assert>
        <assert id="R-1PD-ARZ" role="ERROR" diagnostics="ND-ProcedurePlacePerformanceAdditionalInformation_BT-728-Procedure" test="(cbc:Description) or (not((not(cac:Address/cbc:Region)) and (not(cac:Address/cbc:CountrySubentityCode)) and (not(cac:Address/cbc:CityName))))">rule|text|R-1PD-ARZ</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject">
        <assert id="R-NE3-BFZ" role="ERROR" diagnostics="ND-ProcedureProcurementScope_BT-531-Procedure" test="(not(cac:ProcurementAdditionalType[cbc:ProcurementTypeCode/@listName='contract-nature']/cbc:ProcurementTypeCode)) or (not(not(cbc:ProcurementTypeCode)))">rule|text|R-NE3-BFZ</assert>
    </rule>
    <rule context="/*/cac:ContractingParty/cac:Party/cac:ServiceProviderParty">
        <assert id="R-TVJ-963" role="ERROR" diagnostics="ND-ServiceProviderParty_OPT-030-Procedure-SProvider" test="(not(cbc:ServiceTypeCode)) or (not(not(cac:Party/cac:PartyIdentification/cbc:ID)))">rule|text|R-TVJ-963</assert>
        <assert id="R-PL0-I58" role="ERROR" diagnostics="ND-ServiceProviderParty_OPT-030-Procedure-SProvider" test="(cbc:ServiceTypeCode) or (not(not(not(cac:Party/cac:PartyIdentification/cbc:ID))))">rule|text|R-PL0-I58</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:TouchPoint">
        <assert id="R-81F-UH6" role="ERROR" diagnostics="ND-Touchpoint_BT-16-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:Department)) or (not(not(cac:PartyName/cbc:Name)))">rule|text|R-81F-UH6</assert>
        <assert id="R-OMA-6QL" role="ERROR" diagnostics="ND-Touchpoint_BT-507-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:CountrySubentityCode)) or (not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX'))))">rule|text|R-OMA-6QL</assert>
        <assert id="R-M1R-PVG" role="ERROR" diagnostics="ND-Touchpoint_BT-507-Organization-TouchPoint" test="(cac:PostalAddress/cbc:CountrySubentityCode) or (not(not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX')))))">rule|text|R-M1R-PVG</assert>
        <assert id="R-DTG-235" role="ERROR" diagnostics="ND-Touchpoint_BT-510_a_-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:StreetName)) or (not(not(cac:PostalAddress/cbc:CityName)))">rule|text|R-DTG-235</assert>
        <assert id="R-3JA-HHL" role="ERROR" diagnostics="ND-Touchpoint_BT-510_b_-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:AdditionalStreetName)) or (not(not(cac:PostalAddress/cbc:StreetName)))">rule|text|R-3JA-HHL</assert>
        <assert id="R-ETI-PYM" role="ERROR" diagnostics="ND-Touchpoint_BT-510_c_-Organization-TouchPoint" test="(not(cac:PostalAddress/cac:AddressLine/cbc:Line)) or (not(not(cac:PostalAddress/cbc:AdditionalStreetName)))">rule|text|R-ETI-PYM</assert>
        <assert id="R-SAY-IDR" role="ERROR" diagnostics="ND-Touchpoint_BT-512-Organization-TouchPoint" test="(cac:PostalAddress/cbc:PostalZone) or (not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('AFG','ALA','ALB','AND','ARG','ARM','AUS','AUT','AZE','BEL','BGD','BGR','BHR','BIH','BLM','BLR','BMU','BRA','BRB','BRN','BTN','CAN','CHE','CHL','CHN','COL','CPT','CPV','CRI','CUB','CYM','CYP','CZE','DEU','DJI','DNK','DOM','DZA','ECU','EGY','ESP','EST','ETH','FIN','FRA','FRO','FSM','GBR','GEO','GGY','GIN','GNB','GRC','GRL','GTM','GUM','HND','HRV','HTI','HUN','IDN','IMN','IND','IRL','IRN','IRQ','ISL','ISR','ITA','JEY','JOR','JPN','KAZ','KEN','KGZ','KHM','KIR','KOR','KWT','LAO','LBN','LIE','LKA','LSO','LTU','LUX','LVA','MAF','MAR','MCO','MDA','MDG','MDV','MEX','MHL','MLT','MMR','MNE','MNG','MOZ','MSR','MUS','MWI','MYS','NAM','NCL','NER','NGA','NIC','NLD','NOR','NPL','NRU','NZL','OMN','PAK','PER','PHL','PNG','POL','PRI','PRT','PRY','PSE','PYF','ROU','RUS','SAU','SDN','SEN','SGP','SJM','SLV','SMR','SPM','SRB','SVK','SVN','SWE','SWZ','THA','TJK','TKM','TLS','TTO','TUN','TUR','UKR','URY','USA','UZB','VCT','VEN','VGB','VIR','VNM','WLF','ZAF')))">rule|text|R-SAY-IDR</assert>
        <assert id="R-2OX-PDZ" role="ERROR" diagnostics="ND-Touchpoint_BT-513-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:CityName)) or (not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode)))">rule|text|R-2OX-PDZ</assert>
        <assert id="R-QBU-VVH" role="ERROR" diagnostics="ND-Touchpoint_BT-513-Organization-TouchPoint" test="(cac:PostalAddress/cbc:CityName) or (not(not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode))))">rule|text|R-QBU-VVH</assert>
        <assert id="R-EDA-JIW" role="ERROR" diagnostics="ND-Touchpoint_BT-514-Organization-TouchPoint" test="(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode)) or (not(not(cac:PartyName/cbc:Name)))">rule|text|R-EDA-JIW</assert>
    </rule>
</pattern>
