schematrons/dynamic/validation-stage-3b-33.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-3b-33" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/cbc:RegulatoryDomain">
        <assert id="R-C2N-R12" role="ERROR" test="./normalize-space(text()) = ('32014L0024','32024R2509','other')">rule|text|R-C2N-R12</assert>
    </rule>
    <rule context="/*/cac:TenderingProcess/cbc:ProcedureCode">
        <assert id="R-044-3KK" role="ERROR" test="./normalize-space(text()) = ('comp-dial','innovation','neg-w-call','neg-wo-call','open','oth-mult','oth-single','restricted')">rule|text|R-044-3KK</assert>
    </rule>
</pattern>
