schematrons/dynamic/validation-stage-3b-X01.sch

<?xml version="1.0" encoding="UTF-8" ?>
<!--File generated from metadata database-->
<pattern id="EFORMS-validation-stage-3b-X01" xmlns="http://purl.oclc.org/dsdl/schematron">
	<rule context="/*/cbc:RegulatoryDomain[$noticeSubType = 'X01']">
		<assert id="BR-BT-00001-0204" role="ERROR" test="normalize-space(.) = ('31985R2137')">rule|text|BR-BT-00001-0204</assert>
	</rule>
</pattern>
