schematrons/dynamic/validation-stage-3b-5.sch

<?xml version="1.0" encoding="UTF-8" ?>
<!--File generated from metadata database-->
<pattern id="EFORMS-validation-stage-3b-5" xmlns="http://purl.oclc.org/dsdl/schematron">
	<rule context="/*/cbc:RegulatoryDomain[$noticeSubType = '5']">
		<assert id="BR-BT-00001-0211" role="ERROR" test="normalize-space(.) = ('32014L0025', 'other')">rule|text|BR-BT-00001-0211</assert>
	</rule>
</pattern>
