schematrons/dynamic/validation-stage-3b-1.sch

<?xml version="1.0" encoding="UTF-8" ?>
<!--File generated from metadata database-->
<pattern id="EFORMS-validation-stage-3b-1" xmlns="http://purl.oclc.org/dsdl/schematron">
	<rule context="/*/cbc:RegulatoryDomain[$noticeSubType = '1']">
		<assert id="BR-BT-00001-0207" role="ERROR" test="normalize-space(.) = ('32014L0024', '32018R1046', 'other')">rule|text|BR-BT-00001-0207</assert>
	</rule>
</pattern>
