schematrons/dynamic/validation-stage-3b-E2.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-3b-E2" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/cbc:RegulatoryDomain">
        <assert id="R-WZI-Z8P" role="ERROR" test="./normalize-space(text()) = ('other')">rule|text|R-WZI-Z8P</assert>
    </rule>
</pattern>
