schematrons/dynamic/validation-stage-3b-X02.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-3b-X02" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/cbc:RegulatoryDomain">
        <assert id="R-PPJ-YHZ" role="ERROR" test="./normalize-space(text()) = ('32001R2157','32003R1435')">rule|text|R-PPJ-YHZ</assert>
    </rule>
</pattern>
