schematrons/dynamic/validation-stage-3b-X02.sch

<?xml version="1.0" encoding="UTF-8" ?>
<!--File generated from metadata database-->
<pattern id="EFORMS-validation-stage-3b-X02" xmlns="http://purl.oclc.org/dsdl/schematron">
	<rule context="/*/cbc:RegulatoryDomain[$noticeSubType = 'X02']">
		<assert id="BR-BT-00001-0205" role="ERROR" test="normalize-space(.) = ('32001R2157', '32003R1435')">rule|text|BR-BT-00001-0205</assert>
	</rule>
</pattern>
