schematrons/dynamic/validation-stage-3b-CEI.sch

<?xml version="1.0" encoding="UTF-8" ?>
<!--File generated from metadata database-->
<pattern id="EFORMS-validation-stage-3b-CEI" xmlns="http://purl.oclc.org/dsdl/schematron">
	<rule context="/*/cbc:RegulatoryDomain[$noticeSubType = 'CEI']">
		<assert id="BR-BT-00001-0220" role="ERROR" test="normalize-space(.) = ('32018R1046')">rule|text|BR-BT-00001-0220</assert>
	</rule>
</pattern>
