schematrons/dynamic/validation-stage-4-T02.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-4-T02" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efac:Change">
        <assert id="R-KCK-FII" role="ERROR" diagnostics="ND-Change_BT-141_a_-notice" test="(not(efbc:ChangeDescription)) or (not(not(efac:ChangedSection/efbc:ChangedSectionIdentifier)))">rule|text|R-KCK-FII</assert>
        <assert id="R-1NG-MG0" role="ERROR" diagnostics="ND-Change_BT-718-notice" test="(not(efbc:ProcurementDocumentsChangeIndicator)) or (not(not(efac:ChangedSection/efbc:ChangedSectionIdentifier)))">rule|text|R-1NG-MG0</assert>
        <assert id="R-5EZ-3OO" role="ERROR" diagnostics="ND-Change_BT-719-notice" test="(not(efbc:ProcurementDocumentsChangeDate)) or (not(not(efbc:ProcurementDocumentsChangeIndicator = true())))">rule|text|R-5EZ-3OO</assert>
        <assert id="R-MSX-Q3H" role="ERROR" diagnostics="ND-Change_BT-719-notice" test="(efbc:ProcurementDocumentsChangeDate) or (not(efbc:ProcurementDocumentsChangeIndicator = true()))">rule|text|R-MSX-Q3H</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efac:Change/efac:ChangedSection">
        <assert id="R-TC6-DR2" role="ERROR" diagnostics="ND-ChangedSection_BT-13716-notice" test="(not(efbc:ChangedSectionIdentifier)) or (not(not(../../efbc:ChangedNoticeIdentifier)))">rule|text|R-TC6-DR2</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:Company">
        <assert id="R-2YU-B6H" role="ERROR" diagnostics="ND-Company_BT-503-Organization-Company" test="(cac:Contact/cbc:Telephone) or (not((cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text()))))">rule|text|R-2YU-B6H</assert>
        <assert id="R-W63-KCM" role="ERROR" diagnostics="ND-Company_BT-506-Organization-Company" test="(cac:Contact/cbc:ElectronicMail) or (not((cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text()))))">rule|text|R-W63-KCM</assert>
        <assert id="R-IM0-8CV" role="ERROR" diagnostics="ND-Company_BT-507-Organization-Company" test="(not(cac:PostalAddress/cbc:CountrySubentityCode)) or (not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX'))))">rule|text|R-IM0-8CV</assert>
        <assert id="R-6L0-71L" role="ERROR" diagnostics="ND-Company_BT-507-Organization-Company" test="(cac:PostalAddress/cbc:CountrySubentityCode) or (not(not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX')))))">rule|text|R-6L0-71L</assert>
        <assert id="R-VJQ-ZSG" role="ERROR" diagnostics="ND-Company_BT-510_a_-Organization-Company" test="(not(cac:PostalAddress/cbc:StreetName)) or (not(not(cac:PostalAddress/cbc:CityName)))">rule|text|R-VJQ-ZSG</assert>
        <assert id="R-6RV-RSQ" role="ERROR" diagnostics="ND-Company_BT-510_b_-Organization-Company" test="(not(cac:PostalAddress/cbc:AdditionalStreetName)) or (not(not(cac:PostalAddress/cbc:StreetName)))">rule|text|R-6RV-RSQ</assert>
        <assert id="R-OS0-QIK" role="ERROR" diagnostics="ND-Company_BT-510_c_-Organization-Company" test="(not(cac:PostalAddress/cac:AddressLine/cbc:Line)) or (not(not(cac:PostalAddress/cbc:AdditionalStreetName)))">rule|text|R-OS0-QIK</assert>
        <assert id="R-OO2-8CS" role="ERROR" diagnostics="ND-Company_BT-512-Organization-Company" test="(cac:PostalAddress/cbc:PostalZone) or (not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('AFG','ALA','ALB','AND','ARG','ARM','AUS','AUT','AZE','BEL','BGD','BGR','BHR','BIH','BLM','BLR','BMU','BRA','BRB','BRN','BTN','CAN','CHE','CHL','CHN','COL','CPT','CPV','CRI','CUB','CYM','CYP','CZE','DEU','DJI','DNK','DOM','DZA','ECU','EGY','ESP','EST','ETH','FIN','FRA','FRO','FSM','GBR','GEO','GGY','GIN','GNB','GRC','GRL','GTM','GUM','HND','HRV','HTI','HUN','IDN','IMN','IND','IRL','IRN','IRQ','ISL','ISR','ITA','JEY','JOR','JPN','KAZ','KEN','KGZ','KHM','KIR','KOR','KWT','LAO','LBN','LIE','LKA','LSO','LTU','LUX','LVA','MAF','MAR','MCO','MDA','MDG','MDV','MEX','MHL','MLT','MMR','MNE','MNG','MOZ','MSR','MUS','MWI','MYS','NAM','NCL','NER','NGA','NIC','NLD','NOR','NPL','NRU','NZL','OMN','PAK','PER','PHL','PNG','POL','PRI','PRT','PRY','PSE','PYF','ROU','RUS','SAU','SDN','SEN','SGP','SJM','SLV','SMR','SPM','SRB','SVK','SVN','SWE','SWZ','THA','TJK','TKM','TLS','TTO','TUN','TUR','UKR','URY','USA','UZB','VCT','VEN','VGB','VIR','VNM','WLF','ZAF')))">rule|text|R-OO2-8CS</assert>
    </rule>
    <rule context="/*/cac:ContractingParty">
        <assert id="R-DHU-YHE" role="ERROR" diagnostics="ND-ContractingParty_BT-10-Procedure-Buyer" test="(not(cac:ContractingActivity/cbc:ActivityTypeCode[@listName='authority-activity'])) or (not(not(cac:ContractingPartyType/cbc:PartyTypeCode[@listName='buyer-legal-type']/normalize-space(text()) = ('body-pl','body-pl-cga','body-pl-la','body-pl-ra','cga','def-cont','eu-ins-bod-ag','int-org','la','org-sub','org-sub-cga','org-sub-la','org-sub-ra','ra'))))">rule|text|R-DHU-YHE</assert>
    </rule>
    <rule context="/*/cac:TenderingTerms/cac:ProcurementLegislationDocumentReference[cbc:ID/text()='CrossBorderLaw']/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='cro-bor-law']">
        <assert id="R-ZNS-YJO" role="ERROR" diagnostics="ND-CrossBorderLawUnpublish_BT-195_BT-09_-Procedure" test="(not(efbc:FieldIdentifierCode)) or (not(not(../../../../../cbc:DocumentDescription)))">rule|text|R-ZNS-YJO</assert>
        <assert id="R-KE7-0YM" role="ERROR" diagnostics="ND-CrossBorderLawUnpublish_BT-196_BT-09_-Procedure" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-KE7-0YM</assert>
        <assert id="R-9XX-1F7" role="ERROR" diagnostics="ND-CrossBorderLawUnpublish_BT-197_BT-09_-Procedure" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-9XX-1F7</assert>
        <assert id="R-LDO-XDX" role="ERROR" diagnostics="ND-CrossBorderLawUnpublish_BT-197_BT-09_-Procedure" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-LDO-XDX</assert>
        <assert id="R-6FJ-B7P" role="ERROR" diagnostics="ND-CrossBorderLawUnpublish_BT-198_BT-09_-Procedure" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-6FJ-B7P</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efac:StrategicProcurement[efac:StrategicProcurementInformation/efac:ProcurementDetails/efbc:AssetCategoryCode/@listName='energy-efficiency-item']/efac:StrategicProcurementInformation/efac:ProcurementDetails">
        <assert id="R-M9W-YSS" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_OPT-080-LotResult" test="(not(efac:AssetMetric[efbc:AssetMetricCode/text()='nrg-con-yr']/efbc:AssetMetricCode)) or (not((not(efbc:LegalFrameworkCode)) or (efbc:LegalFrameworkCode/normalize-space(text()) = 'enrg-lab')))">rule|text|R-M9W-YSS</assert>
        <assert id="R-85G-XN1" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_OPT-080-LotResult" test="(efac:AssetMetric[efbc:AssetMetricCode/text()='nrg-con-yr']/efbc:AssetMetricCode) or (not(not((not(efbc:LegalFrameworkCode)) or (efbc:LegalFrameworkCode/normalize-space(text()) = 'enrg-lab'))))">rule|text|R-85G-XN1</assert>
        <assert id="R-ZWE-OT0" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_OPT-081-LotResult" test="(not(efac:AssetMetric[efbc:AssetMetricCode/text()='nrg-sav-yr']/efbc:AssetMetricCode)) or (not(not(efac:AssetMetric[efbc:AssetMetricCode/text()='nrg-sav-yr']/efbc:AssetMetricNumeric)))">rule|text|R-ZWE-OT0</assert>
        <assert id="R-47U-EMX" role="ERROR" diagnostics="ND-EEDProcurementDetailsLotResult_OPT-081-LotResult" test="(efac:AssetMetric[efbc:AssetMetricCode/text()='nrg-sav-yr']/efbc:AssetMetricCode) or (not(not(not(efac:AssetMetric[efbc:AssetMetricCode/text()='nrg-sav-yr']/efbc:AssetMetricNumeric))))">rule|text|R-47U-EMX</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:SettledContract/efac:DurationJustification">
        <assert id="R-3OU-HRZ" role="ERROR" diagnostics="ND-ExtendedDurationJustification_OPP-021-Contract" test="(not(efac:AssetsList/efac:Asset/efbc:AssetDescription)) or (not(not(efbc:ExtendedDurationIndicator = true())))">rule|text|R-3OU-HRZ</assert>
        <assert id="R-3XL-C0F" role="ERROR" diagnostics="ND-ExtendedDurationJustification_OPP-021-Contract" test="(efac:AssetsList/efac:Asset/efbc:AssetDescription) or (not(efbc:ExtendedDurationIndicator = true()))">rule|text|R-3XL-C0F</assert>
        <assert id="R-LZZ-PUJ" role="ERROR" diagnostics="ND-ExtendedDurationJustification_OPP-022-Contract" test="(not(efac:AssetsList/efac:Asset/efbc:AssetSignificance)) or (not(not(efbc:ExtendedDurationIndicator = true())))">rule|text|R-LZZ-PUJ</assert>
        <assert id="R-OZB-1BK" role="ERROR" diagnostics="ND-ExtendedDurationJustification_OPP-022-Contract" test="(efac:AssetsList/efac:Asset/efbc:AssetSignificance) or (not(efbc:ExtendedDurationIndicator = true()))">rule|text|R-OZB-1BK</assert>
        <assert id="R-2QO-T38" role="ERROR" diagnostics="ND-ExtendedDurationJustification_OPP-023-Contract" test="(not(efac:AssetsList/efac:Asset/efbc:AssetPredominance)) or (not(not(efbc:ExtendedDurationIndicator = true())))">rule|text|R-2QO-T38</assert>
        <assert id="R-VOE-NEH" role="ERROR" diagnostics="ND-ExtendedDurationJustification_OPP-023-Contract" test="(efac:AssetsList/efac:Asset/efbc:AssetPredominance) or (not(efbc:ExtendedDurationIndicator = true()))">rule|text|R-VOE-NEH</assert>
    </rule>
    <rule context="/*/cac:TenderingTerms/cac:ProcurementLegislationDocumentReference[cbc:ID/text()='LocalLegalBasis']">
        <assert id="R-WSW-QCT" role="ERROR" diagnostics="ND-LocalLegalBasisNoID_BT-01_f_-Procedure" test="(not(cbc:DocumentDescription)) or (not(not(cbc:ID)))">rule|text|R-WSW-QCT</assert>
        <assert id="R-S4N-ELQ" role="ERROR" diagnostics="ND-LocalLegalBasisNoID_BT-01_f_-Procedure" test="(cbc:DocumentDescription) or (not(not(not(cbc:ID))))">rule|text|R-S4N-ELQ</assert>
    </rule>
    <rule context="/*/cac:TenderingTerms/cac:ProcurementLegislationDocumentReference[not(cbc:ID/text()=('CrossBorderLaw','LocalLegalBasis'))]">
        <assert id="R-MA8-D75" role="ERROR" diagnostics="ND-LocalLegalBasisWithID_BT-01_d_-Procedure" test="(not(cbc:DocumentDescription)) or (not(not(cbc:ID)))">rule|text|R-MA8-D75</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject/cac:AdditionalCommodityClassification">
        <assert id="R-G9R-HCI" role="ERROR" diagnostics="ND-LotAdditionalClassification_BT-26_a_-Lot" test="(not(cbc:ItemClassificationCode/@listName)) or (not(not(cbc:ItemClassificationCode)))">rule|text|R-G9R-HCI</assert>
        <assert id="R-ZA1-JTF" role="ERROR" diagnostics="ND-LotAdditionalClassification_BT-26_a_-Lot" test="(cbc:ItemClassificationCode/@listName) or (not(not(not(cbc:ItemClassificationCode))))">rule|text|R-ZA1-JTF</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject/cac:PlannedPeriod">
        <assert id="R-YHB-8ZE" role="ERROR" diagnostics="ND-LotDuration_BT-36-Lot" test="(not(cbc:DurationMeasure)) or (not((cbc:EndDate and cbc:StartDate) or (cbc:DescriptionCode)))">rule|text|R-YHB-8ZE</assert>
        <assert id="R-05Y-W04" role="ERROR" diagnostics="ND-LotDuration_BT-536-Lot" test="(not(cbc:StartDate)) or (not((cbc:DurationMeasure and cbc:EndDate) or (cbc:DescriptionCode and cbc:EndDate)))">rule|text|R-05Y-W04</assert>
        <assert id="R-PJF-HTA" role="ERROR" diagnostics="ND-LotDuration_BT-537-Lot" test="(not(cbc:EndDate)) or (not((cbc:StartDate and cbc:DescriptionCode) or (cbc:StartDate and cbc:DurationMeasure) or (cbc:DescriptionCode and cbc:DescriptionCode/normalize-space(text()) = 'UNLIMITED')))">rule|text|R-PJF-HTA</assert>
        <assert id="R-34M-B6S" role="ERROR" diagnostics="ND-LotDuration_OPA-36-Lot-Number" test="(not(cbc:DurationMeasure)) or (not((cbc:EndDate and cbc:StartDate) or (cbc:DescriptionCode)))">rule|text|R-34M-B6S</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject/cac:MainCommodityClassification">
        <assert id="R-MKV-GB2" role="ERROR" diagnostics="ND-LotMainClassification_BT-26_m_-Lot" test="(not(cbc:ItemClassificationCode/@listName)) or (not(not(cbc:ItemClassificationCode)))">rule|text|R-MKV-GB2</assert>
        <assert id="R-FMV-V7N" role="ERROR" diagnostics="ND-LotMainClassification_BT-26_m_-Lot" test="(cbc:ItemClassificationCode/@listName) or (not(not(not(cbc:ItemClassificationCode))))">rule|text|R-FMV-V7N</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject/cac:RealizedLocation">
        <assert id="R-N4S-3M1" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5071-Lot" test="(not(cac:Address/cbc:CountrySubentityCode)) or (not(cac:Address/cbc:Region or not(cac:Address/cac:Country/cbc:IdentificationCode)))">rule|text|R-N4S-3M1</assert>
        <assert id="R-BCG-872" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5071-Lot" test="(cac:Address/cbc:CountrySubentityCode) or (not((not(cac:Address/cbc:Region)) and cac:Address/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX')))">rule|text|R-BCG-872</assert>
        <assert id="R-LJ6-0DS" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5101_a_-Lot" test="(not(cac:Address/cbc:StreetName)) or (not(not(cac:Address/cbc:CityName)))">rule|text|R-LJ6-0DS</assert>
        <assert id="R-1LK-P87" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5101_b_-Lot" test="(not(cac:Address/cbc:AdditionalStreetName)) or (not(not(cac:Address/cbc:StreetName)))">rule|text|R-1LK-P87</assert>
        <assert id="R-GLF-8CI" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5101_c_-Lot" test="(not(cac:Address/cac:AddressLine/cbc:Line)) or (not(not(cac:Address/cbc:AdditionalStreetName)))">rule|text|R-GLF-8CI</assert>
        <assert id="R-FXF-GC1" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5141-Lot" test="(not(cac:Address/cac:Country/cbc:IdentificationCode)) or (not(cac:Address/cbc:Region/normalize-space(text()) = ('anyw','anyw-eea')))">rule|text|R-FXF-GC1</assert>
        <assert id="R-8E0-O11" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5141-Lot" test="(cac:Address/cac:Country/cbc:IdentificationCode) or (not(not(cac:Address/cbc:Region/normalize-space(text()) = ('anyw','anyw-eea'))))">rule|text|R-8E0-O11</assert>
        <assert id="R-UI0-PBV" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-727-Lot" test="(not(cac:Address/cbc:Region)) or (not(cac:Address/cbc:CountrySubentityCode))">rule|text|R-UI0-PBV</assert>
        <assert id="R-IB3-9L3" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-728-Lot" test="(cbc:Description) or (not((not(cac:Address/cbc:Region)) and (not(cac:Address/cbc:CountrySubentityCode)) and (not(cac:Address/cbc:CityName))))">rule|text|R-IB3-9L3</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject">
        <assert id="R-BEM-4LX" role="ERROR" diagnostics="ND-LotProcurementScope_BT-531-Lot" test="(not(cac:ProcurementAdditionalType[cbc:ProcurementTypeCode/@listName='contract-nature']/cbc:ProcurementTypeCode)) or (not(not(cbc:ProcurementTypeCode[@listName='contract-nature'])))">rule|text|R-BEM-4LX</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult">
        <assert id="R-MZY-J2U" role="ERROR" diagnostics="ND-LotResult_BT-13713-LotResult" test="(not(efac:TenderLot/cbc:ID)) or (not(not(cbc:ID)))">rule|text|R-MZY-J2U</assert>
        <assert id="R-QTF-ELY" role="ERROR" diagnostics="ND-LotResult_BT-13713-LotResult" test="(efac:TenderLot/cbc:ID) or (not(not(not(cbc:ID))))">rule|text|R-QTF-ELY</assert>
        <assert id="R-NBR-P3T" role="ERROR" diagnostics="ND-LotResult_OPT-315-LotResult" test="(not(efac:SettledContract/cbc:ID)) or (not(not(cbc:ID)))">rule|text|R-NBR-P3T</assert>
        <assert id="R-D2D-SDB" role="ERROR" diagnostics="ND-LotResult_OPT-315-LotResult" test="(efac:SettledContract/cbc:ID) or (not(not(not(cbc:ID))))">rule|text|R-D2D-SDB</assert>
        <assert id="R-MT5-5I2" role="ERROR" diagnostics="ND-LotResult_OPT-320-LotResult" test="(not(efac:LotTender/cbc:ID)) or (not((not(cbc:ID)) or ((efac:TenderLot/cbc:ID) and not(some $x in ../efac:LotTender/efac:TenderLot/cbc:ID/normalize-space(text()) satisfies $x = efac:TenderLot/cbc:ID/normalize-space(text())) and not(some $x in ../../../../../../cac:TenderingTerms/cac:LotDistribution/cac:LotsGroup/cac:ProcurementProjectLotReference/cbc:ID[@schemeName='Lot'][../../cbc:LotsGroupID/normalize-space(text()) = ../../../../../ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:TenderLot/cbc:ID/normalize-space(text())]/normalize-space(text()) satisfies $x = efac:TenderLot/cbc:ID/normalize-space(text()))) or ((not(efac:TenderLot/cbc:ID)) and (not(../efac:LotTender/cbc:ID))) or (cbc:TenderResultCode/normalize-space(text()) = 'open-nw')))">rule|text|R-MT5-5I2</assert>
        <assert id="R-2DL-YLF" role="ERROR" diagnostics="ND-LotResult_OPT-320-LotResult" test="(efac:LotTender/cbc:ID) or (not(not((not(cbc:ID)) or ((efac:TenderLot/cbc:ID) and not(some $x in ../efac:LotTender/efac:TenderLot/cbc:ID/normalize-space(text()) satisfies $x = efac:TenderLot/cbc:ID/normalize-space(text())) and not(some $x in ../../../../../../cac:TenderingTerms/cac:LotDistribution/cac:LotsGroup/cac:ProcurementProjectLotReference/cbc:ID[@schemeName='Lot'][../../cbc:LotsGroupID/normalize-space(text()) = ../../../../../ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:TenderLot/cbc:ID/normalize-space(text())]/normalize-space(text()) satisfies $x = efac:TenderLot/cbc:ID/normalize-space(text()))) or ((not(efac:TenderLot/cbc:ID)) and (not(../efac:LotTender/cbc:ID))) or (cbc:TenderResultCode/normalize-space(text()) = 'open-nw'))))">rule|text|R-2DL-YLF</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender">
        <assert id="R-GSB-K49" role="ERROR" diagnostics="ND-LotTender_BT-13714-Tender" test="(not(efac:TenderLot/cbc:ID)) or (not(not(efac:TenderReference/cbc:ID)))">rule|text|R-GSB-K49</assert>
        <assert id="R-3QI-0OB" role="ERROR" diagnostics="ND-LotTender_BT-13714-Tender" test="(efac:TenderLot/cbc:ID) or (not(not(not(efac:TenderReference/cbc:ID))))">rule|text|R-3QI-0OB</assert>
        <assert id="R-NFG-Q6C" role="ERROR" diagnostics="ND-LotTender_BT-3201-Tender" test="(not(efac:TenderReference/cbc:ID)) or (not(not(cbc:ID)))">rule|text|R-NFG-Q6C</assert>
        <assert id="R-YJ6-29D" role="ERROR" diagnostics="ND-LotTender_BT-3201-Tender" test="(efac:TenderReference/cbc:ID) or (not(not(not(cbc:ID))))">rule|text|R-YJ6-29D</assert>
        <assert id="R-Q53-JFM" role="ERROR" diagnostics="ND-LotTender_OPT-310-Tender" test="(not(efac:TenderingParty/cbc:ID)) or (not(not(cbc:ID)))">rule|text|R-Q53-JFM</assert>
        <assert id="R-EFD-W2R" role="ERROR" diagnostics="ND-LotTender_OPT-310-Tender" test="(efac:TenderingParty/cbc:ID) or (not(not(not(cbc:ID))))">rule|text|R-EFD-W2R</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efac:DecisionReason/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='no-awa-rea']">
        <assert id="R-0MX-SS5" role="ERROR" diagnostics="ND-NotAwardedReasonUnpublish_BT-195_BT-144_-LotResult" test="(not(efbc:FieldIdentifierCode)) or (not(not(../efbc:DecisionReasonCode)))">rule|text|R-0MX-SS5</assert>
        <assert id="R-6SB-E7R" role="ERROR" diagnostics="ND-NotAwardedReasonUnpublish_BT-196_BT-144_-LotResult" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-6SB-E7R</assert>
        <assert id="R-DIV-D7I" role="ERROR" diagnostics="ND-NotAwardedReasonUnpublish_BT-197_BT-144_-LotResult" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-DIV-D7I</assert>
        <assert id="R-ZE0-E5M" role="ERROR" diagnostics="ND-NotAwardedReasonUnpublish_BT-197_BT-144_-LotResult" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-ZE0-E5M</assert>
        <assert id="R-6G2-TJ0" role="ERROR" diagnostics="ND-NotAwardedReasonUnpublish_BT-198_BT-144_-LotResult" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-6G2-TJ0</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult">
        <assert id="R-ZLJ-44I" role="ERROR" diagnostics="ND-NoticeResult_BT-150-Contract" test="(not(efac:SettledContract/efac:ContractReference/cbc:ID)) or (not(not(some $x in efac:LotResult/cbc:TenderResultCode/normalize-space(text()) satisfies $x = 'selec-w')))">rule|text|R-ZLJ-44I</assert>
        <assert id="R-NXW-A4O" role="ERROR" diagnostics="ND-NoticeResult_BT-150-Contract" test="(efac:SettledContract/efac:ContractReference/cbc:ID) or (not(some $x in efac:LotResult/cbc:TenderResultCode/normalize-space(text()) satisfies $x = 'selec-w'))">rule|text|R-NXW-A4O</assert>
        <assert id="R-EQY-7NF" role="ERROR" diagnostics="ND-NoticeResult_OPT-210-Tenderer" test="(not(efac:TenderingParty/cbc:ID)) or (not(not(efac:LotTender/efac:TenderingParty/cbc:ID)))">rule|text|R-EQY-7NF</assert>
        <assert id="R-6O6-ZQ2" role="ERROR" diagnostics="ND-NoticeResult_OPT-210-Tenderer" test="(efac:TenderingParty/cbc:ID) or (not(not(not(efac:LotTender/efac:TenderingParty/cbc:ID))))">rule|text|R-6O6-ZQ2</assert>
        <assert id="R-8R3-MVY" role="ERROR" diagnostics="ND-NoticeResult_OPT-321-Tender" test="(not(efac:LotTender/cbc:ID)) or (not(not(some $x in efac:LotResult/cbc:TenderResultCode/normalize-space(text()) satisfies $x = 'selec-w') and not(some $x in efac:LotResult/efac:DecisionReason/efbc:DecisionReasonCode/normalize-space(text()) satisfies $x != 'no-rece')))">rule|text|R-8R3-MVY</assert>
        <assert id="R-9KO-YP7" role="ERROR" diagnostics="ND-NoticeResult_OPT-321-Tender" test="(efac:LotTender/cbc:ID) or (not(some $x in efac:LotResult/cbc:TenderResultCode/normalize-space(text()) satisfies $x = 'selec-w'))">rule|text|R-9KO-YP7</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization">
        <assert id="R-MGI-GKJ" role="ERROR" diagnostics="ND-Organization_BT-633-Organization" test="(not(efbc:NaturalPersonIndicator)) or (not(not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = /*/cac:ContractingParty/cac:Party/cac:ServiceProviderParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text())) and not(((efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = /*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:TenderingParty/efac:SubContractor/cbc:ID/normalize-space(text())) or (efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = /*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:TenderingParty/efac:Tenderer/cbc:ID/normalize-space(text()))) and (not(efbc:ListedOnRegulatedMarketIndicator = true())))))">rule|text|R-MGI-GKJ</assert>
        <assert id="R-35B-HO0" role="ERROR" diagnostics="ND-Organization_BT-746-Organization" test="(not(efbc:ListedOnRegulatedMarketIndicator)) or (not(not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../efac:NoticeResult/efac:TenderingParty/efac:Tenderer/cbc:ID/normalize-space(text())) and not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../efac:NoticeResult/efac:TenderingParty/efac:SubContractor/cbc:ID/normalize-space(text()))))">rule|text|R-35B-HO0</assert>
        <assert id="R-3Y4-ZYH" role="ERROR" diagnostics="ND-Organization_OPP-051-Organization" test="(not(efbc:AwardingCPBIndicator)) or (not(not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text()))))">rule|text|R-3Y4-ZYH</assert>
        <assert id="R-I8W-45W" role="ERROR" diagnostics="ND-Organization_OPP-052-Organization" test="(not(efbc:AcquiringCPBIndicator)) or (not(not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text()))))">rule|text|R-I8W-45W</assert>
        <assert id="R-5OY-W8A" role="ERROR" diagnostics="ND-Organization_OPT-302-Organization" test="(not(efac:UltimateBeneficialOwner/cbc:ID)) or (not((not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../efac:NoticeResult/efac:TenderingParty/efac:Tenderer/cbc:ID/normalize-space(text())) and not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../efac:NoticeResult/efac:TenderingParty/efac:SubContractor/cbc:ID/normalize-space(text()))) or (efbc:NaturalPersonIndicator = true()) or (efbc:ListedOnRegulatedMarketIndicator = true())))">rule|text|R-5OY-W8A</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject/cac:AdditionalCommodityClassification">
        <assert id="R-DKC-DB2" role="ERROR" diagnostics="ND-ProcedureAdditionalCommodityClassification_BT-26_a_-Procedure" test="(not(cbc:ItemClassificationCode/@listName)) or (not(not(cbc:ItemClassificationCode)))">rule|text|R-DKC-DB2</assert>
        <assert id="R-7VA-45V" role="ERROR" diagnostics="ND-ProcedureAdditionalCommodityClassification_BT-26_a_-Procedure" test="(cbc:ItemClassificationCode/@listName) or (not(not(not(cbc:ItemClassificationCode))))">rule|text|R-7VA-45V</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject/cac:MainCommodityClassification">
        <assert id="R-77Q-74K" role="ERROR" diagnostics="ND-ProcedureMainClassification_BT-26_m_-Procedure" test="(not(cbc:ItemClassificationCode/@listName)) or (not(not(cbc:ItemClassificationCode)))">rule|text|R-77Q-74K</assert>
        <assert id="R-HLV-NX6" role="ERROR" diagnostics="ND-ProcedureMainClassification_BT-26_m_-Procedure" test="(cbc:ItemClassificationCode/@listName) or (not(not(not(cbc:ItemClassificationCode))))">rule|text|R-HLV-NX6</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject">
        <assert id="R-NE3-BFZ" role="ERROR" diagnostics="ND-ProcedureProcurementScope_BT-531-Procedure" test="(not(cac:ProcurementAdditionalType[cbc:ProcurementTypeCode/@listName='contract-nature']/cbc:ProcurementTypeCode)) or (not(not(cbc:ProcurementTypeCode)))">rule|text|R-NE3-BFZ</assert>
    </rule>
    <rule context="/*/cac:TenderingProcess/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='pro-typ']">
        <assert id="R-KSY-7JE" role="ERROR" diagnostics="ND-ProcedureTypeUnpublish_BT-195_BT-105_-Procedure" test="(not(efbc:FieldIdentifierCode)) or (not(not(../../../../../cbc:ProcedureCode)))">rule|text|R-KSY-7JE</assert>
        <assert id="R-E0I-QF5" role="ERROR" diagnostics="ND-ProcedureTypeUnpublish_BT-196_BT-105_-Procedure" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-E0I-QF5</assert>
        <assert id="R-B8C-03G" role="ERROR" diagnostics="ND-ProcedureTypeUnpublish_BT-197_BT-105_-Procedure" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-B8C-03G</assert>
        <assert id="R-N4A-0NM" role="ERROR" diagnostics="ND-ProcedureTypeUnpublish_BT-197_BT-105_-Procedure" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-N4A-0NM</assert>
        <assert id="R-2M6-QI3" role="ERROR" diagnostics="ND-ProcedureTypeUnpublish_BT-198_BT-105_-Procedure" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-2M6-QI3</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efac:StrategicProcurement[efac:StrategicProcurementInformation/efbc:ProcurementCategoryCode/@listName='cvd-contract-type']/efac:StrategicProcurementInformation/efac:ProcurementDetails">
        <assert id="R-H9C-BWR" role="ERROR" diagnostics="ND-ProcurementDetailsLotResult_BT-723-LotResult" test="(not(efbc:AssetCategoryCode)) or (not(not(../efbc:ProcurementCategoryCode)))">rule|text|R-H9C-BWR</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efac:StrategicProcurement[efac:StrategicProcurementInformation/efbc:ProcurementCategoryCode/@listName='cvd-contract-type']/efac:StrategicProcurementInformation/efac:ProcurementDetails/efac:StrategicProcurementStatistics">
        <assert id="R-0A5-IWR" role="ERROR" diagnostics="ND-ProcurementStatistics_OPT-155-LotResult" test="(not(efbc:StatisticsCode)) or (not(not(../efbc:AssetCategoryCode)))">rule|text|R-0A5-IWR</assert>
        <assert id="R-T7T-715" role="ERROR" diagnostics="ND-ProcurementStatistics_OPT-156-LotResult" test="(not(efbc:StatisticsNumeric)) or (not(not(efbc:StatisticsCode)))">rule|text|R-T7T-715</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:SettledContract">
        <assert id="R-J00-IVK" role="ERROR" diagnostics="ND-SettledContract_BT-3202-Contract" test="(not(efac:LotTender/cbc:ID)) or (not((not(cbc:ID)) or (not(../efac:LotTender/cbc:ID))))">rule|text|R-J00-IVK</assert>
        <assert id="R-UUE-QAP" role="ERROR" diagnostics="ND-SettledContract_BT-3202-Contract" test="(efac:LotTender/cbc:ID) or (not(not((not(cbc:ID)) or (not(../efac:LotTender/cbc:ID)))))">rule|text|R-UUE-QAP</assert>
        <assert id="R-MGR-SWI" role="ERROR" diagnostics="ND-SettledContract_OPP-020-Contract" test="(not(efac:DurationJustification/efbc:ExtendedDurationIndicator)) or (not((not(cbc:ID))))">rule|text|R-MGR-SWI</assert>
        <assert id="R-A87-VLI" role="ERROR" diagnostics="ND-SettledContract_OPP-020-Contract" test="(efac:DurationJustification/efbc:ExtendedDurationIndicator) or (not(not((not(cbc:ID)))))">rule|text|R-A87-VLI</assert>
        <assert id="R-NFZ-79M" role="ERROR" diagnostics="ND-SettledContract_OPT-316-Contract" test="(not(cbc:ID)) or (not(not(efac:ContractReference/cbc:ID)))">rule|text|R-NFZ-79M</assert>
        <assert id="R-87J-1YY" role="ERROR" diagnostics="ND-SettledContract_OPT-316-Contract" test="(cbc:ID) or (not(not(not(efac:ContractReference/cbc:ID))))">rule|text|R-87J-1YY</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingTerms/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:StrategicProcurement[efbc:ApplicableLegalBasis/@listName='cvd-scope']/efac:StrategicProcurementInformation">
        <assert id="R-BBH-A1X" role="ERROR" diagnostics="ND-StrategicProcurementInformationLot_BT-735-Lot" test="(not(efbc:ProcurementCategoryCode)) or (not(not(../efbc:ApplicableLegalBasis/normalize-space(text()) = 'true')))">rule|text|R-BBH-A1X</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efac:StrategicProcurement[efac:StrategicProcurementInformation/efbc:ProcurementCategoryCode/@listName='cvd-contract-type']/efac:StrategicProcurementInformation">
        <assert id="R-GAN-VXS" role="ERROR" diagnostics="ND-StrategicProcurementInformationLotResult_BT-735-LotResult" test="(not(efbc:ProcurementCategoryCode)) or (not(../../efac:TenderLot/cbc:ID/normalize-space(text()) = ../../../../../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cbc:ID[not(../cac:TenderingTerms/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:StrategicProcurement[efbc:ApplicableLegalBasis/@listName='cvd-scope']/efbc:ApplicableLegalBasis/normalize-space(text()) = 'true')]/normalize-space(text())))">rule|text|R-GAN-VXS</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:TenderingParty/efac:SubContractor">
        <assert id="R-FT5-2FZ" role="ERROR" diagnostics="ND-SubContractor_OPT-301-Tenderer-MainCont" test="(not(efac:MainContractor/cbc:ID)) or (not(not(cbc:ID)))">rule|text|R-FT5-2FZ</assert>
        <assert id="R-DTE-5HX" role="ERROR" diagnostics="ND-SubContractor_OPT-301-Tenderer-MainCont" test="(efac:MainContractor/cbc:ID) or (not(not(not(cbc:ID))))">rule|text|R-DTE-5HX</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:TenderingParty/efac:Tenderer">
        <assert id="R-NTL-4SB" role="ERROR" diagnostics="ND-Tenderer_OPT-170-Tenderer" test="(not(efbc:GroupLeadIndicator)) or (not(../cbc:ID[count(../efac:Tenderer/cbc:ID/normalize-space(text())) &lt; 2]))">rule|text|R-NTL-4SB</assert>
        <assert id="R-XYJ-1C9" role="ERROR" diagnostics="ND-Tenderer_OPT-170-Tenderer" test="(efbc:GroupLeadIndicator) or (not(not(../cbc:ID[count(../efac:Tenderer/cbc:ID/normalize-space(text())) &lt; 2])))">rule|text|R-XYJ-1C9</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:TenderingParty">
        <assert id="R-L44-N8V" role="ERROR" diagnostics="ND-TenderingParty_OPT-300-Tenderer" test="(not(efac:Tenderer/cbc:ID)) or (not(not(../efac:LotTender/cbc:ID)))">rule|text|R-L44-N8V</assert>
        <assert id="R-1NS-LLY" role="ERROR" diagnostics="ND-TenderingParty_OPT-300-Tenderer" test="(efac:Tenderer/cbc:ID) or (not(not(not(../efac:LotTender/cbc:ID))))">rule|text|R-1NS-LLY</assert>
        <assert id="R-5Y6-44Y" role="ERROR" diagnostics="ND-TenderingParty_OPT-301-Tenderer-SubCont" test="(not(efac:SubContractor/cbc:ID)) or (not(not(efac:Tenderer/cbc:ID)))">rule|text|R-5Y6-44Y</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:TouchPoint">
        <assert id="R-81F-UH6" role="ERROR" diagnostics="ND-Touchpoint_BT-16-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:Department)) or (not(not(cac:PartyName/cbc:Name)))">rule|text|R-81F-UH6</assert>
        <assert id="R-OMA-6QL" role="ERROR" diagnostics="ND-Touchpoint_BT-507-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:CountrySubentityCode)) or (not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX'))))">rule|text|R-OMA-6QL</assert>
        <assert id="R-M1R-PVG" role="ERROR" diagnostics="ND-Touchpoint_BT-507-Organization-TouchPoint" test="(cac:PostalAddress/cbc:CountrySubentityCode) or (not(not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX')))))">rule|text|R-M1R-PVG</assert>
        <assert id="R-DTG-235" role="ERROR" diagnostics="ND-Touchpoint_BT-510_a_-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:StreetName)) or (not(not(cac:PostalAddress/cbc:CityName)))">rule|text|R-DTG-235</assert>
        <assert id="R-3JA-HHL" role="ERROR" diagnostics="ND-Touchpoint_BT-510_b_-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:AdditionalStreetName)) or (not(not(cac:PostalAddress/cbc:StreetName)))">rule|text|R-3JA-HHL</assert>
        <assert id="R-ETI-PYM" role="ERROR" diagnostics="ND-Touchpoint_BT-510_c_-Organization-TouchPoint" test="(not(cac:PostalAddress/cac:AddressLine/cbc:Line)) or (not(not(cac:PostalAddress/cbc:AdditionalStreetName)))">rule|text|R-ETI-PYM</assert>
        <assert id="R-SAY-IDR" role="ERROR" diagnostics="ND-Touchpoint_BT-512-Organization-TouchPoint" test="(cac:PostalAddress/cbc:PostalZone) or (not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('AFG','ALA','ALB','AND','ARG','ARM','AUS','AUT','AZE','BEL','BGD','BGR','BHR','BIH','BLM','BLR','BMU','BRA','BRB','BRN','BTN','CAN','CHE','CHL','CHN','COL','CPT','CPV','CRI','CUB','CYM','CYP','CZE','DEU','DJI','DNK','DOM','DZA','ECU','EGY','ESP','EST','ETH','FIN','FRA','FRO','FSM','GBR','GEO','GGY','GIN','GNB','GRC','GRL','GTM','GUM','HND','HRV','HTI','HUN','IDN','IMN','IND','IRL','IRN','IRQ','ISL','ISR','ITA','JEY','JOR','JPN','KAZ','KEN','KGZ','KHM','KIR','KOR','KWT','LAO','LBN','LIE','LKA','LSO','LTU','LUX','LVA','MAF','MAR','MCO','MDA','MDG','MDV','MEX','MHL','MLT','MMR','MNE','MNG','MOZ','MSR','MUS','MWI','MYS','NAM','NCL','NER','NGA','NIC','NLD','NOR','NPL','NRU','NZL','OMN','PAK','PER','PHL','PNG','POL','PRI','PRT','PRY','PSE','PYF','ROU','RUS','SAU','SDN','SEN','SGP','SJM','SLV','SMR','SPM','SRB','SVK','SVN','SWE','SWZ','THA','TJK','TKM','TLS','TTO','TUN','TUR','UKR','URY','USA','UZB','VCT','VEN','VGB','VIR','VNM','WLF','ZAF')))">rule|text|R-SAY-IDR</assert>
        <assert id="R-2OX-PDZ" role="ERROR" diagnostics="ND-Touchpoint_BT-513-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:CityName)) or (not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode)))">rule|text|R-2OX-PDZ</assert>
        <assert id="R-QBU-VVH" role="ERROR" diagnostics="ND-Touchpoint_BT-513-Organization-TouchPoint" test="(cac:PostalAddress/cbc:CityName) or (not(not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode))))">rule|text|R-QBU-VVH</assert>
        <assert id="R-EDA-JIW" role="ERROR" diagnostics="ND-Touchpoint_BT-514-Organization-TouchPoint" test="(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode)) or (not(not(cac:PartyName/cbc:Name)))">rule|text|R-EDA-JIW</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:UltimateBeneficialOwner">
        <assert id="R-VCB-QZ7" role="ERROR" diagnostics="ND-UBO_BT-507-UBO" test="(not(cac:ResidenceAddress/cbc:CountrySubentityCode)) or (not(not(cac:ResidenceAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX'))))">rule|text|R-VCB-QZ7</assert>
        <assert id="R-XR9-CCC" role="ERROR" diagnostics="ND-UBO_BT-510_a_-UBO" test="(not(cac:ResidenceAddress/cbc:StreetName)) or (not(not(cbc:FamilyName)))">rule|text|R-XR9-CCC</assert>
        <assert id="R-409-1BU" role="ERROR" diagnostics="ND-UBO_BT-510_b_-UBO" test="(not(cac:ResidenceAddress/cbc:AdditionalStreetName)) or (not(not(cac:ResidenceAddress/cbc:StreetName)))">rule|text|R-409-1BU</assert>
        <assert id="R-OBF-MMT" role="ERROR" diagnostics="ND-UBO_BT-510_c_-UBO" test="(not(cac:ResidenceAddress/cac:AddressLine/cbc:Line)) or (not(not(cac:ResidenceAddress/cbc:AdditionalStreetName)))">rule|text|R-OBF-MMT</assert>
        <assert id="R-IW0-XYH" role="ERROR" diagnostics="ND-UBO_BT-513-UBO" test="(not(cac:ResidenceAddress/cbc:CityName)) or (not(not(cbc:FamilyName)))">rule|text|R-IW0-XYH</assert>
        <assert id="R-YD5-QFT" role="ERROR" diagnostics="ND-UBO_BT-514-UBO" test="(not(cac:ResidenceAddress/cac:Country/cbc:IdentificationCode)) or (not(not(cbc:FamilyName)))">rule|text|R-YD5-QFT</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='win-cho']">
        <assert id="R-1ZC-UGT" role="ERROR" diagnostics="ND-WinnerChosenUnpublish_BT-195_BT-142_-LotResult" test="(not(efbc:FieldIdentifierCode)) or (not(not(../cbc:TenderResultCode)))">rule|text|R-1ZC-UGT</assert>
        <assert id="R-NZ1-GEF" role="ERROR" diagnostics="ND-WinnerChosenUnpublish_BT-196_BT-142_-LotResult" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-NZ1-GEF</assert>
        <assert id="R-Z35-VX9" role="ERROR" diagnostics="ND-WinnerChosenUnpublish_BT-197_BT-142_-LotResult" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-Z35-VX9</assert>
        <assert id="R-IRI-MNN" role="ERROR" diagnostics="ND-WinnerChosenUnpublish_BT-197_BT-142_-LotResult" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-IRI-MNN</assert>
        <assert id="R-XDS-KA0" role="ERROR" diagnostics="ND-WinnerChosenUnpublish_BT-198_BT-142_-LotResult" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-XDS-KA0</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender/efac:FieldsPrivacy[efbc:FieldIdentifierCode/text()='win-ten-val']">
        <assert id="R-A7R-9M9" role="ERROR" diagnostics="ND-WinningTenderValueUnpublish_BT-195_BT-720_-Tender" test="(not(efbc:FieldIdentifierCode)) or (not(not(../cac:LegalMonetaryTotal/cbc:PayableAmount)))">rule|text|R-A7R-9M9</assert>
        <assert id="R-FPZ-KSA" role="ERROR" diagnostics="ND-WinningTenderValueUnpublish_BT-196_BT-720_-Tender" test="(not(efbc:ReasonDescription)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-FPZ-KSA</assert>
        <assert id="R-EPQ-CYZ" role="ERROR" diagnostics="ND-WinningTenderValueUnpublish_BT-197_BT-720_-Tender" test="(not(cbc:ReasonCode)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-EPQ-CYZ</assert>
        <assert id="R-NI3-4NK" role="ERROR" diagnostics="ND-WinningTenderValueUnpublish_BT-197_BT-720_-Tender" test="(cbc:ReasonCode) or (not(not(not(efbc:FieldIdentifierCode))))">rule|text|R-NI3-4NK</assert>
        <assert id="R-P9H-AFD" role="ERROR" diagnostics="ND-WinningTenderValueUnpublish_BT-198_BT-720_-Tender" test="(not(efbc:PublicationDate)) or (not(not(efbc:FieldIdentifierCode)))">rule|text|R-P9H-AFD</assert>
    </rule>
</pattern>
