schematrons/dynamic/validation-stage-6a.sch

<?xml version="1.0" encoding="UTF-8" ?>
<!--File generated from metadata database version 1.8.37 created on the 2023-06-21T15:32:21.-->
<pattern id="EFORMS-validation-stage-6a" xmlns="http://purl.oclc.org/dsdl/schematron">
	<rule context="/*/cac:ProcurementProject/cac:MainCommodityClassification[/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efbc:ChangedNoticeIdentifier]">
	</rule>
</pattern>