schematrons/dynamic/validation-stage-3b-40.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-3b-40" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/cbc:RegulatoryDomain">
        <assert id="R-2LM-0T9" role="ERROR" test="./normalize-space(text()) = ('32014L0023','other')">rule|text|R-2LM-0T9</assert>
    </rule>
</pattern>
