schematrons/dynamic/validation-stage-3b-38.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-3b-38" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/cbc:RegulatoryDomain">
        <assert id="R-T4J-NKB" role="ERROR" test="./normalize-space(text()) = ('32009L0081','32014L0024','32024R2509','other')">rule|text|R-T4J-NKB</assert>
    </rule>
</pattern>
