schematrons/static/validation-stage-3b-3.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-3b-3" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/cbc:RegulatoryDomain">
        <assert id="R-KJO-E6Y" role="ERROR" test="./normalize-space(text()) = ('32009L0081','other')">rule|text|R-KJO-E6Y</assert>
    </rule>
</pattern>
