schematrons/static/validation-stage-3b-E6.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-3b-E6" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/cbc:RegulatoryDomain">
        <assert id="R-2PZ-A2E" role="ERROR" test="./normalize-space(text()) = ('32009L0081','other')">rule|text|R-2PZ-A2E</assert>
    </rule>
</pattern>
