schematrons/static/validation-stage-3b-32.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-3b-32" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/cbc:RegulatoryDomain">
        <assert id="R-Y8Y-44I" role="ERROR" test="./normalize-space(text()) = ('32014L0023','other')">rule|text|R-Y8Y-44I</assert>
    </rule>
    <rule context="/*/cac:TenderingProcess/cbc:ProcedureCode">
        <assert id="R-JCI-Y8O" role="ERROR" test="./normalize-space(text()) = ('comp-dial','innovation','neg-w-call','neg-wo-call','open','oth-mult','oth-single','restricted')">rule|text|R-JCI-Y8O</assert>
    </rule>
</pattern>
