schematrons/static/validation-stage-3b-2.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-3b-2" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/cbc:RegulatoryDomain">
        <assert id="R-QGQ-UVL" role="ERROR" test="./normalize-space(text()) = ('32014L0025','other')">rule|text|R-QGQ-UVL</assert>
    </rule>
</pattern>
