schematrons/static/validation-stage-3b-X01.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-3b-X01" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/cbc:RegulatoryDomain">
        <assert id="R-AF9-8AW" role="ERROR" test="./normalize-space(text()) = ('31985R2137')">rule|text|R-AF9-8AW</assert>
    </rule>
</pattern>
