schematrons/static/validation-stage-4-E1.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-4-E1" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efac:Change">
        <assert id="R-KCK-FII" role="ERROR" diagnostics="ND-Change_BT-141_a_-notice" test="(not(efbc:ChangeDescription)) or (not(not(efac:ChangedSection/efbc:ChangedSectionIdentifier)))">rule|text|R-KCK-FII</assert>
        <assert id="R-1NG-MG0" role="ERROR" diagnostics="ND-Change_BT-718-notice" test="(not(efbc:ProcurementDocumentsChangeIndicator)) or (not(not(efac:ChangedSection/efbc:ChangedSectionIdentifier)))">rule|text|R-1NG-MG0</assert>
        <assert id="R-5EZ-3OO" role="ERROR" diagnostics="ND-Change_BT-719-notice" test="(not(efbc:ProcurementDocumentsChangeDate)) or (not(not(efbc:ProcurementDocumentsChangeIndicator = true())))">rule|text|R-5EZ-3OO</assert>
        <assert id="R-MSX-Q3H" role="ERROR" diagnostics="ND-Change_BT-719-notice" test="(efbc:ProcurementDocumentsChangeDate) or (not(efbc:ProcurementDocumentsChangeIndicator = true()))">rule|text|R-MSX-Q3H</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efac:Change/efac:ChangedSection">
        <assert id="R-TC6-DR2" role="ERROR" diagnostics="ND-ChangedSection_BT-13716-notice" test="(not(efbc:ChangedSectionIdentifier)) or (not(not(../../efbc:ChangedNoticeIdentifier)))">rule|text|R-TC6-DR2</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:Company">
        <assert id="R-IM0-8CV" role="ERROR" diagnostics="ND-Company_BT-507-Organization-Company" test="(not(cac:PostalAddress/cbc:CountrySubentityCode)) or (not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX'))))">rule|text|R-IM0-8CV</assert>
        <assert id="R-VJQ-ZSG" role="ERROR" diagnostics="ND-Company_BT-510_a_-Organization-Company" test="(not(cac:PostalAddress/cbc:StreetName)) or (not(not(cac:PostalAddress/cbc:CityName)))">rule|text|R-VJQ-ZSG</assert>
        <assert id="R-6RV-RSQ" role="ERROR" diagnostics="ND-Company_BT-510_b_-Organization-Company" test="(not(cac:PostalAddress/cbc:AdditionalStreetName)) or (not(not(cac:PostalAddress/cbc:StreetName)))">rule|text|R-6RV-RSQ</assert>
        <assert id="R-OS0-QIK" role="ERROR" diagnostics="ND-Company_BT-510_c_-Organization-Company" test="(not(cac:PostalAddress/cac:AddressLine/cbc:Line)) or (not(not(cac:PostalAddress/cbc:AdditionalStreetName)))">rule|text|R-OS0-QIK</assert>
    </rule>
    <rule context="/*/cac:ContractingParty">
        <assert id="R-DHU-YHE" role="ERROR" diagnostics="ND-ContractingParty_BT-10-Procedure-Buyer" test="(not(cac:ContractingActivity/cbc:ActivityTypeCode[@listName='authority-activity'])) or (not(not(cac:ContractingPartyType/cbc:PartyTypeCode[@listName='buyer-legal-type']/normalize-space(text()) = ('body-pl','body-pl-cga','body-pl-la','body-pl-ra','cga','def-cont','eu-ins-bod-ag','int-org','la','org-sub','org-sub-cga','org-sub-la','org-sub-ra','ra'))))">rule|text|R-DHU-YHE</assert>
        <assert id="R-HQF-PUD" role="ERROR" diagnostics="ND-ContractingParty_BT-610-Procedure-Buyer" test="(not(cac:ContractingActivity/cbc:ActivityTypeCode[@listName='entity-activity'])) or (not(not(cac:ContractingPartyType/cbc:PartyTypeCode[@listName='buyer-legal-type']/normalize-space(text()) = ('pub-undert','pub-undert-cga','pub-undert-la','pub-undert-ra','spec-rights-entity'))))">rule|text|R-HQF-PUD</assert>
    </rule>
    <rule context="/*/cac:TenderingTerms/cac:ProcurementLegislationDocumentReference[cbc:ID/text()='LocalLegalBasis']">
        <assert id="R-WSW-QCT" role="ERROR" diagnostics="ND-LocalLegalBasisNoID_BT-01_f_-Procedure" test="(not(cbc:DocumentDescription)) or (not(not(cbc:ID)))">rule|text|R-WSW-QCT</assert>
        <assert id="R-S4N-ELQ" role="ERROR" diagnostics="ND-LocalLegalBasisNoID_BT-01_f_-Procedure" test="(cbc:DocumentDescription) or (not(not(not(cbc:ID))))">rule|text|R-S4N-ELQ</assert>
    </rule>
    <rule context="/*/cac:TenderingTerms/cac:ProcurementLegislationDocumentReference[not(cbc:ID/text()=('CrossBorderLaw','LocalLegalBasis'))]">
        <assert id="R-MA8-D75" role="ERROR" diagnostics="ND-LocalLegalBasisWithID_BT-01_d_-Procedure" test="(not(cbc:DocumentDescription)) or (not(not(cbc:ID)))">rule|text|R-MA8-D75</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject/cac:AdditionalCommodityClassification">
        <assert id="R-G9R-HCI" role="ERROR" diagnostics="ND-LotAdditionalClassification_BT-26_a_-Lot" test="(not(cbc:ItemClassificationCode/@listName)) or (not(not(cbc:ItemClassificationCode)))">rule|text|R-G9R-HCI</assert>
        <assert id="R-ZA1-JTF" role="ERROR" diagnostics="ND-LotAdditionalClassification_BT-26_a_-Lot" test="(cbc:ItemClassificationCode/@listName) or (not(not(not(cbc:ItemClassificationCode))))">rule|text|R-ZA1-JTF</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject/cac:PlannedPeriod">
        <assert id="R-YHB-8ZE" role="ERROR" diagnostics="ND-LotDuration_BT-36-Lot" test="(not(cbc:DurationMeasure)) or (not((cbc:EndDate and cbc:StartDate) or (cbc:DescriptionCode)))">rule|text|R-YHB-8ZE</assert>
        <assert id="R-05Y-W04" role="ERROR" diagnostics="ND-LotDuration_BT-536-Lot" test="(not(cbc:StartDate)) or (not((cbc:DurationMeasure and cbc:EndDate) or (cbc:DescriptionCode and cbc:EndDate)))">rule|text|R-05Y-W04</assert>
        <assert id="R-PJF-HTA" role="ERROR" diagnostics="ND-LotDuration_BT-537-Lot" test="(not(cbc:EndDate)) or (not((cbc:StartDate and cbc:DescriptionCode) or (cbc:StartDate and cbc:DurationMeasure) or (cbc:DescriptionCode and cbc:DescriptionCode/normalize-space(text()) = 'UNLIMITED')))">rule|text|R-PJF-HTA</assert>
        <assert id="R-9P9-EF3" role="ERROR" diagnostics="ND-LotDuration_BT-538-Lot" test="(not(cbc:DescriptionCode)) or (not(cbc:DurationMeasure or (cbc:EndDate and cbc:StartDate)))">rule|text|R-9P9-EF3</assert>
        <assert id="R-34M-B6S" role="ERROR" diagnostics="ND-LotDuration_OPA-36-Lot-Number" test="(not(cbc:DurationMeasure)) or (not((cbc:EndDate and cbc:StartDate) or (cbc:DescriptionCode)))">rule|text|R-34M-B6S</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject/cac:MainCommodityClassification">
        <assert id="R-MKV-GB2" role="ERROR" diagnostics="ND-LotMainClassification_BT-26_m_-Lot" test="(not(cbc:ItemClassificationCode/@listName)) or (not(not(cbc:ItemClassificationCode)))">rule|text|R-MKV-GB2</assert>
        <assert id="R-FMV-V7N" role="ERROR" diagnostics="ND-LotMainClassification_BT-26_m_-Lot" test="(cbc:ItemClassificationCode/@listName) or (not(not(not(cbc:ItemClassificationCode))))">rule|text|R-FMV-V7N</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject/cac:RealizedLocation">
        <assert id="R-N4S-3M1" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5071-Lot" test="(not(cac:Address/cbc:CountrySubentityCode)) or (not(cac:Address/cbc:Region or not(cac:Address/cac:Country/cbc:IdentificationCode)))">rule|text|R-N4S-3M1</assert>
        <assert id="R-BCG-872" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5071-Lot" test="(cac:Address/cbc:CountrySubentityCode) or (not((not(cac:Address/cbc:Region)) and cac:Address/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX')))">rule|text|R-BCG-872</assert>
        <assert id="R-LJ6-0DS" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5101_a_-Lot" test="(not(cac:Address/cbc:StreetName)) or (not(not(cac:Address/cbc:CityName)))">rule|text|R-LJ6-0DS</assert>
        <assert id="R-1LK-P87" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5101_b_-Lot" test="(not(cac:Address/cbc:AdditionalStreetName)) or (not(not(cac:Address/cbc:StreetName)))">rule|text|R-1LK-P87</assert>
        <assert id="R-GLF-8CI" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5101_c_-Lot" test="(not(cac:Address/cac:AddressLine/cbc:Line)) or (not(not(cac:Address/cbc:AdditionalStreetName)))">rule|text|R-GLF-8CI</assert>
        <assert id="R-M0R-60V" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5121-Lot" test="(not(cac:Address/cbc:PostalZone)) or (not(not(cac:Address/cbc:CityName)))">rule|text|R-M0R-60V</assert>
        <assert id="R-917-8WO" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5121-Lot" test="(cac:Address/cbc:PostalZone) or (not(cac:Address/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('AFG','ALA','ALB','AND','ARG','ARM','AUS','AUT','AZE','BEL','BGD','BGR','BHR','BIH','BLM','BLR','BMU','BRA','BRB','BRN','BTN','CAN','CHE','CHL','CHN','COL','CPT','CPV','CRI','CUB','CYM','CYP','CZE','DEU','DJI','DNK','DOM','DZA','ECU','EGY','ESP','EST','ETH','FIN','FRA','FRO','FSM','GBR','GEO','GGY','GIN','GNB','GRC','GRL','GTM','GUM','HND','HRV','HTI','HUN','IDN','IMN','IND','IRL','IRN','IRQ','ISL','ISR','ITA','JEY','JOR','JPN','KAZ','KEN','KGZ','KHM','KIR','KOR','KWT','LAO','LBN','LIE','LKA','LSO','LTU','LUX','LVA','MAF','MAR','MCO','MDA','MDG','MDV','MEX','MHL','MLT','MMR','MNE','MNG','MOZ','MSR','MUS','MWI','MYS','NAM','NCL','NER','NGA','NIC','NLD','NOR','NPL','NRU','NZL','OMN','PAK','PER','PHL','PNG','POL','PRI','PRT','PRY','PSE','PYF','ROU','RUS','SAU','SDN','SEN','SGP','SJM','SLV','SMR','SPM','SRB','SVK','SVN','SWE','SWZ','THA','TJK','TKM','TLS','TTO','TUN','TUR','UKR','URY','USA','UZB','VCT','VEN','VGB','VIR','VNM','WLF','ZAF') and cac:Address/cbc:StreetName))">rule|text|R-917-8WO</assert>
        <assert id="R-2AL-NB1" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5131-Lot" test="(not(cac:Address/cbc:CityName)) or (not(cac:Address/cbc:Region or not(cac:Address/cac:Country/cbc:IdentificationCode)))">rule|text|R-2AL-NB1</assert>
        <assert id="R-FXF-GC1" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5141-Lot" test="(not(cac:Address/cac:Country/cbc:IdentificationCode)) or (not(cac:Address/cbc:Region/normalize-space(text()) = ('anyw','anyw-eea')))">rule|text|R-FXF-GC1</assert>
        <assert id="R-8E0-O11" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-5141-Lot" test="(cac:Address/cac:Country/cbc:IdentificationCode) or (not(not(cac:Address/cbc:Region/normalize-space(text()) = ('anyw','anyw-eea'))))">rule|text|R-8E0-O11</assert>
        <assert id="R-UI0-PBV" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-727-Lot" test="(not(cac:Address/cbc:Region)) or (not(cac:Address/cbc:CountrySubentityCode))">rule|text|R-UI0-PBV</assert>
        <assert id="R-62V-ADZ" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-728-Lot" test="(not(cbc:Description)) or (not(not(cac:Address/cbc:Region) and not(cac:Address/cac:Country/cbc:IdentificationCode)))">rule|text|R-62V-ADZ</assert>
        <assert id="R-IB3-9L3" role="ERROR" diagnostics="ND-LotPlacePerformance_BT-728-Lot" test="(cbc:Description) or (not((not(cac:Address/cbc:Region)) and (not(cac:Address/cbc:CountrySubentityCode)) and (not(cac:Address/cbc:CityName))))">rule|text|R-IB3-9L3</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingTerms/cac:CallForTendersDocumentReference">
        <assert id="R-EH0-3KM" role="ERROR" diagnostics="ND-LotProcurementDocument_BT-15-Lot" test="(not(cac:Attachment[../cbc:DocumentType/text()='non-restricted-document']/cac:ExternalReference/cbc:URI)) or (not(not(cbc:DocumentType/normalize-space(text()) = 'non-restricted-document')))">rule|text|R-EH0-3KM</assert>
        <assert id="R-17O-45N" role="ERROR" diagnostics="ND-LotProcurementDocument_BT-15-Lot" test="(cac:Attachment[../cbc:DocumentType/text()='non-restricted-document']/cac:ExternalReference/cbc:URI) or (not(cbc:DocumentType/normalize-space(text()) = 'non-restricted-document'))">rule|text|R-17O-45N</assert>
        <assert id="R-HBE-PWD" role="ERROR" diagnostics="ND-LotProcurementDocument_BT-615-Lot" test="(not(cac:Attachment[../cbc:DocumentType/text()='restricted-document']/cac:ExternalReference/cbc:URI)) or (not(not(cbc:DocumentType/normalize-space(text()) = 'restricted-document')))">rule|text|R-HBE-PWD</assert>
        <assert id="R-57H-VSZ" role="ERROR" diagnostics="ND-LotProcurementDocument_BT-615-Lot" test="(cac:Attachment[../cbc:DocumentType/text()='restricted-document']/cac:ExternalReference/cbc:URI) or (not(cbc:DocumentType/normalize-space(text()) = 'restricted-document'))">rule|text|R-57H-VSZ</assert>
        <assert id="R-OIY-W66" role="ERROR" diagnostics="ND-LotProcurementDocument_BT-707-Lot" test="(not(cbc:DocumentTypeCode)) or (not(not(cbc:DocumentType/normalize-space(text()) = 'restricted-document')))">rule|text|R-OIY-W66</assert>
        <assert id="R-33Z-NXR" role="ERROR" diagnostics="ND-LotProcurementDocument_BT-708-Lot" test="(not(ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:OfficialLanguages/cac:Language/cbc:ID)) or (not(not(cbc:DocumentType)))">rule|text|R-33Z-NXR</assert>
        <assert id="R-CK8-CHW" role="ERROR" diagnostics="ND-LotProcurementDocument_BT-737-Lot" test="(not(ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NonOfficialLanguages/cac:Language/cbc:ID)) or (not(not(cbc:DocumentType)))">rule|text|R-CK8-CHW</assert>
        <assert id="R-ULK-ZF1" role="ERROR" diagnostics="ND-LotProcurementDocument_OPT-140-Lot" test="(not(cbc:ID)) or (not(not(cbc:DocumentType)))">rule|text|R-ULK-ZF1</assert>
        <assert id="R-IT7-IYE" role="ERROR" diagnostics="ND-LotProcurementDocument_OPT-140-Lot" test="(cbc:ID) or (not(not(not(cbc:DocumentType))))">rule|text|R-IT7-IYE</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject">
        <assert id="R-NHL-J8N" role="ERROR" diagnostics="ND-LotProcurementScope_BT-271-Lot" test="(not(cac:RequestedTenderTotal/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efbc:FrameworkMaximumAmount)) or (not((not(../cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement']/cbc:ContractingSystemTypeCode/normalize-space(text()) = ('fa-mix','fa-w-rc','fa-wo-rc'))) or (not(../cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement']/cbc:ContractingSystemTypeCode))))">rule|text|R-NHL-J8N</assert>
        <assert id="R-BEM-4LX" role="ERROR" diagnostics="ND-LotProcurementScope_BT-531-Lot" test="(not(cac:ProcurementAdditionalType[cbc:ProcurementTypeCode/@listName='contract-nature']/cbc:ProcurementTypeCode)) or (not(not(cbc:ProcurementTypeCode[@listName='contract-nature'])))">rule|text|R-BEM-4LX</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingProcess">
        <assert id="R-972-0NT" role="ERROR" diagnostics="ND-LotTenderingProcess_BT-111-Lot" test="(not(cac:FrameworkAgreement/cac:SubsequentProcessTenderRequirement[cbc:Name/text()='buyer-categories']/cbc:Description)) or (not(not(cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement']/cbc:ContractingSystemTypeCode/normalize-space(text()) = ('fa-mix','fa-w-rc','fa-wo-rc'))))">rule|text|R-972-0NT</assert>
        <assert id="R-UUO-4OO" role="ERROR" diagnostics="ND-LotTenderingProcess_BT-1251-Lot" test="(not(cac:NoticeDocumentReference/cbc:ReferencedDocumentInternalAddress)) or (not(not(cac:NoticeDocumentReference/cbc:ID)))">rule|text|R-UUO-4OO</assert>
        <assert id="R-VFN-9LJ" role="ERROR" diagnostics="ND-LotTenderingProcess_BT-19-Lot" test="(not(cac:ProcessJustification/cbc:ProcessReasonCode[@listName='no-esubmission-justification'])) or (not(not(cbc:SubmissionMethodCode[@listName='esubmission']/normalize-space(text()) = 'not-allowed')))">rule|text|R-VFN-9LJ</assert>
        <assert id="R-A9C-L0K" role="ERROR" diagnostics="ND-LotTenderingProcess_BT-745-Lot" test="(not(cac:ProcessJustification/cbc:Description)) or (not(cbc:SubmissionMethodCode[@listName='esubmission']/normalize-space(text()) = 'required'))">rule|text|R-A9C-L0K</assert>
    </rule>
    <rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingTerms">
        <assert id="R-7G3-IZC" role="ERROR" diagnostics="ND-LotTenderingTerms_BT-18-Lot" test="(not(cac:TenderRecipientParty/cbc:EndpointID)) or (not(../cac:TenderingProcess/cbc:SubmissionMethodCode[@listName='esubmission']/normalize-space(text()) = 'not-allowed'))">rule|text|R-7G3-IZC</assert>
        <assert id="R-YCR-P6H" role="ERROR" diagnostics="ND-LotTenderingTerms_BT-18-Lot" test="(cac:TenderRecipientParty/cbc:EndpointID) or (not(not(../cac:TenderingProcess/cbc:SubmissionMethodCode[@listName='esubmission']/normalize-space(text()) = 'not-allowed')))">rule|text|R-YCR-P6H</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization">
        <assert id="R-T96-GZP" role="ERROR" diagnostics="ND-Organization_OPP-050-Organization" test="(not(efbc:GroupLeadIndicator)) or (not(not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text())) or (count(../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text())) &lt; 2)))">rule|text|R-T96-GZP</assert>
        <assert id="R-53R-6MC" role="ERROR" diagnostics="ND-Organization_OPP-050-Organization" test="(efbc:GroupLeadIndicator) or (not(not(not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text())) or (count(../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text())) &lt; 2))))">rule|text|R-53R-6MC</assert>
        <assert id="R-3Y4-ZYH" role="ERROR" diagnostics="ND-Organization_OPP-051-Organization" test="(not(efbc:AwardingCPBIndicator)) or (not(not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text()))))">rule|text|R-3Y4-ZYH</assert>
        <assert id="R-I8W-45W" role="ERROR" diagnostics="ND-Organization_OPP-052-Organization" test="(not(efbc:AcquiringCPBIndicator)) or (not(not(efac:Company/cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text()))))">rule|text|R-I8W-45W</assert>
        <assert id="R-V4L-VIK" role="ERROR" diagnostics="ND-Organization_OPT-201-Organization-TouchPoint" test="(not(efac:TouchPoint/cac:PartyIdentification/cbc:ID)) or (not(not(efac:Company/cac:PartyIdentification/cbc:ID)))">rule|text|R-V4L-VIK</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject/cac:AdditionalCommodityClassification">
        <assert id="R-DKC-DB2" role="ERROR" diagnostics="ND-ProcedureAdditionalCommodityClassification_BT-26_a_-Procedure" test="(not(cbc:ItemClassificationCode/@listName)) or (not(not(cbc:ItemClassificationCode)))">rule|text|R-DKC-DB2</assert>
        <assert id="R-7VA-45V" role="ERROR" diagnostics="ND-ProcedureAdditionalCommodityClassification_BT-26_a_-Procedure" test="(cbc:ItemClassificationCode/@listName) or (not(not(not(cbc:ItemClassificationCode))))">rule|text|R-7VA-45V</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject/cac:MainCommodityClassification">
        <assert id="R-77Q-74K" role="ERROR" diagnostics="ND-ProcedureMainClassification_BT-26_m_-Procedure" test="(not(cbc:ItemClassificationCode/@listName)) or (not(not(cbc:ItemClassificationCode)))">rule|text|R-77Q-74K</assert>
        <assert id="R-HLV-NX6" role="ERROR" diagnostics="ND-ProcedureMainClassification_BT-26_m_-Procedure" test="(cbc:ItemClassificationCode/@listName) or (not(not(not(cbc:ItemClassificationCode))))">rule|text|R-HLV-NX6</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject/cac:RealizedLocation/cac:Address">
        <assert id="R-8O3-GKH" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5071-Procedure" test="(not(cbc:CountrySubentityCode)) or (not(cbc:Region or not(cac:Country/cbc:IdentificationCode)))">rule|text|R-8O3-GKH</assert>
        <assert id="R-7UU-QJ3" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5071-Procedure" test="(cbc:CountrySubentityCode) or (not((not(cbc:Region)) and cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX')))">rule|text|R-7UU-QJ3</assert>
        <assert id="R-9HD-DIN" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5101_a_-Procedure" test="(not(cbc:StreetName)) or (not(not(cbc:CityName)))">rule|text|R-9HD-DIN</assert>
        <assert id="R-CHP-9T7" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5101_b_-Procedure" test="(not(cbc:AdditionalStreetName)) or (not(not(cbc:StreetName)))">rule|text|R-CHP-9T7</assert>
        <assert id="R-7ZZ-T7Z" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5101_c_-Procedure" test="(not(cac:AddressLine/cbc:Line)) or (not(not(cbc:AdditionalStreetName)))">rule|text|R-7ZZ-T7Z</assert>
        <assert id="R-VWQ-LUU" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5121-Procedure" test="(not(cbc:PostalZone)) or (not(not(cbc:CityName)))">rule|text|R-VWQ-LUU</assert>
        <assert id="R-DSD-XYA" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5121-Procedure" test="(cbc:PostalZone) or (not(cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('AFG','ALA','ALB','AND','ARG','ARM','AUS','AUT','AZE','BEL','BGD','BGR','BHR','BIH','BLM','BLR','BMU','BRA','BRB','BRN','BTN','CAN','CHE','CHL','CHN','COL','CPT','CPV','CRI','CUB','CYM','CYP','CZE','DEU','DJI','DNK','DOM','DZA','ECU','EGY','ESP','EST','ETH','FIN','FRA','FRO','FSM','GBR','GEO','GGY','GIN','GNB','GRC','GRL','GTM','GUM','HND','HRV','HTI','HUN','IDN','IMN','IND','IRL','IRN','IRQ','ISL','ISR','ITA','JEY','JOR','JPN','KAZ','KEN','KGZ','KHM','KIR','KOR','KWT','LAO','LBN','LIE','LKA','LSO','LTU','LUX','LVA','MAF','MAR','MCO','MDA','MDG','MDV','MEX','MHL','MLT','MMR','MNE','MNG','MOZ','MSR','MUS','MWI','MYS','NAM','NCL','NER','NGA','NIC','NLD','NOR','NPL','NRU','NZL','OMN','PAK','PER','PHL','PNG','POL','PRI','PRT','PRY','PSE','PYF','ROU','RUS','SAU','SDN','SEN','SGP','SJM','SLV','SMR','SPM','SRB','SVK','SVN','SWE','SWZ','THA','TJK','TKM','TLS','TTO','TUN','TUR','UKR','URY','USA','UZB','VCT','VEN','VGB','VIR','VNM','WLF','ZAF') and cbc:StreetName))">rule|text|R-DSD-XYA</assert>
        <assert id="R-K3Q-CO1" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5131-Procedure" test="(not(cbc:CityName)) or (not(cbc:Region or not(cac:Country/cbc:IdentificationCode)))">rule|text|R-K3Q-CO1</assert>
        <assert id="R-O2S-N2J" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5141-Procedure" test="(not(cac:Country/cbc:IdentificationCode)) or (not(cbc:Region/normalize-space(text()) = ('anyw','anyw-eea')))">rule|text|R-O2S-N2J</assert>
        <assert id="R-GLH-4Y9" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-5141-Procedure" test="(cac:Country/cbc:IdentificationCode) or (not(not(cbc:Region/normalize-space(text()) = ('anyw','anyw-eea'))))">rule|text|R-GLH-4Y9</assert>
        <assert id="R-I6Q-2VO" role="ERROR" diagnostics="ND-ProcedurePlacePerformance_BT-727-Procedure" test="(not(cbc:Region)) or (not(cbc:CountrySubentityCode))">rule|text|R-I6Q-2VO</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject/cac:RealizedLocation">
        <assert id="R-CP6-E6O" role="ERROR" diagnostics="ND-ProcedurePlacePerformanceAdditionalInformation_BT-728-Procedure" test="(not(cbc:Description)) or (not(not(cac:Address/cbc:Region) and not(cac:Address/cac:Country/cbc:IdentificationCode)))">rule|text|R-CP6-E6O</assert>
        <assert id="R-1PD-ARZ" role="ERROR" diagnostics="ND-ProcedurePlacePerformanceAdditionalInformation_BT-728-Procedure" test="(cbc:Description) or (not((not(cac:Address/cbc:Region)) and (not(cac:Address/cbc:CountrySubentityCode)) and (not(cac:Address/cbc:CityName))))">rule|text|R-1PD-ARZ</assert>
    </rule>
    <rule context="/*/cac:ProcurementProject">
        <assert id="R-U6R-3XA" role="ERROR" diagnostics="ND-ProcedureProcurementScope_BT-271-Procedure" test="(not(cac:RequestedTenderTotal/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efbc:FrameworkMaximumAmount)) or (not((every $x in ../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement']/cbc:ContractingSystemTypeCode/normalize-space(text()) satisfies not($x = ('fa-mix','fa-w-rc','fa-wo-rc'))) or (not(../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement']/cbc:ContractingSystemTypeCode))))">rule|text|R-U6R-3XA</assert>
        <assert id="R-NE3-BFZ" role="ERROR" diagnostics="ND-ProcedureProcurementScope_BT-531-Procedure" test="(not(cac:ProcurementAdditionalType[cbc:ProcurementTypeCode/@listName='contract-nature']/cbc:ProcurementTypeCode)) or (not(not(cbc:ProcurementTypeCode)))">rule|text|R-NE3-BFZ</assert>
    </rule>
    <rule context="/*/cac:ContractingParty/cac:Party/cac:ServiceProviderParty">
        <assert id="R-TVJ-963" role="ERROR" diagnostics="ND-ServiceProviderParty_OPT-030-Procedure-SProvider" test="(not(cbc:ServiceTypeCode)) or (not(not(cac:Party/cac:PartyIdentification/cbc:ID)))">rule|text|R-TVJ-963</assert>
        <assert id="R-PL0-I58" role="ERROR" diagnostics="ND-ServiceProviderParty_OPT-030-Procedure-SProvider" test="(cbc:ServiceTypeCode) or (not(not(not(cac:Party/cac:PartyIdentification/cbc:ID))))">rule|text|R-PL0-I58</assert>
    </rule>
    <rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:TouchPoint">
        <assert id="R-81F-UH6" role="ERROR" diagnostics="ND-Touchpoint_BT-16-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:Department)) or (not(not(cac:PartyName/cbc:Name)))">rule|text|R-81F-UH6</assert>
        <assert id="R-EC1-IVM" role="ERROR" diagnostics="ND-Touchpoint_BT-500-Organization-TouchPoint" test="(not(cac:PartyName/cbc:Name)) or (not(not(cac:PartyIdentification/cbc:ID)))">rule|text|R-EC1-IVM</assert>
        <assert id="R-9K4-GVP" role="ERROR" diagnostics="ND-Touchpoint_BT-500-Organization-TouchPoint" test="(cac:PartyName/cbc:Name) or (not((not(cbc:WebsiteURI)) and (not(cac:Contact/cbc:ElectronicMail)) and (not(cac:Contact/cbc:Telephone)) and (not(cac:Contact/cbc:Telefax)) and (not(cbc:EndpointID)) and (cac:PartyIdentification/cbc:ID)))">rule|text|R-9K4-GVP</assert>
        <assert id="R-WKM-OXE" role="ERROR" diagnostics="ND-Touchpoint_BT-503-Organization-TouchPoint" test="(not(cac:Contact/cbc:Telephone)) or (not(not(cac:PartyIdentification/cbc:ID)))">rule|text|R-WKM-OXE</assert>
        <assert id="R-4SW-EXW" role="ERROR" diagnostics="ND-Touchpoint_BT-503-Organization-TouchPoint" test="(cac:Contact/cbc:Telephone) or (not((not(cbc:WebsiteURI)) and (not(cac:Contact/cbc:ElectronicMail)) and (not(cac:Contact/cbc:Telefax)) and (not(cac:PartyName/cbc:Name)) and (not(cbc:EndpointID)) and (cac:PartyIdentification/cbc:ID)))">rule|text|R-4SW-EXW</assert>
        <assert id="R-SG8-ANT" role="ERROR" diagnostics="ND-Touchpoint_BT-506-Organization-TouchPoint" test="(not(cac:Contact/cbc:ElectronicMail)) or (not(not(cac:PartyIdentification/cbc:ID)))">rule|text|R-SG8-ANT</assert>
        <assert id="R-68P-J5E" role="ERROR" diagnostics="ND-Touchpoint_BT-506-Organization-TouchPoint" test="(cac:Contact/cbc:ElectronicMail) or (not((not(cbc:WebsiteURI)) and (not(cac:Contact/cbc:Telephone)) and (not(cac:Contact/cbc:Telefax)) and (not(cac:PartyName/cbc:Name)) and (not(cbc:EndpointID)) and (cac:PartyIdentification/cbc:ID)))">rule|text|R-68P-J5E</assert>
        <assert id="R-OMA-6QL" role="ERROR" diagnostics="ND-Touchpoint_BT-507-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:CountrySubentityCode)) or (not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX'))))">rule|text|R-OMA-6QL</assert>
        <assert id="R-M1R-PVG" role="ERROR" diagnostics="ND-Touchpoint_BT-507-Organization-TouchPoint" test="(cac:PostalAddress/cbc:CountrySubentityCode) or (not(not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX')))))">rule|text|R-M1R-PVG</assert>
        <assert id="R-WVK-2NX" role="ERROR" diagnostics="ND-Touchpoint_BT-509-Organization-TouchPoint" test="(not(cbc:EndpointID)) or (not(not(cac:PartyIdentification/cbc:ID)))">rule|text|R-WVK-2NX</assert>
        <assert id="R-9D8-N46" role="ERROR" diagnostics="ND-Touchpoint_BT-509-Organization-TouchPoint" test="(cbc:EndpointID) or (not((not(cac:Contact/cbc:ElectronicMail)) and (not(cac:Contact/cbc:Telephone)) and (not(cac:Contact/cbc:Telefax)) and (not(cac:PartyName/cbc:Name)) and (not(cbc:WebsiteURI)) and (cac:PartyIdentification/cbc:ID)))">rule|text|R-9D8-N46</assert>
        <assert id="R-DTG-235" role="ERROR" diagnostics="ND-Touchpoint_BT-510_a_-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:StreetName)) or (not(not(cac:PostalAddress/cbc:CityName)))">rule|text|R-DTG-235</assert>
        <assert id="R-3JA-HHL" role="ERROR" diagnostics="ND-Touchpoint_BT-510_b_-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:AdditionalStreetName)) or (not(not(cac:PostalAddress/cbc:StreetName)))">rule|text|R-3JA-HHL</assert>
        <assert id="R-ETI-PYM" role="ERROR" diagnostics="ND-Touchpoint_BT-510_c_-Organization-TouchPoint" test="(not(cac:PostalAddress/cac:AddressLine/cbc:Line)) or (not(not(cac:PostalAddress/cbc:AdditionalStreetName)))">rule|text|R-ETI-PYM</assert>
        <assert id="R-SAY-IDR" role="ERROR" diagnostics="ND-Touchpoint_BT-512-Organization-TouchPoint" test="(cac:PostalAddress/cbc:PostalZone) or (not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('AFG','ALA','ALB','AND','ARG','ARM','AUS','AUT','AZE','BEL','BGD','BGR','BHR','BIH','BLM','BLR','BMU','BRA','BRB','BRN','BTN','CAN','CHE','CHL','CHN','COL','CPT','CPV','CRI','CUB','CYM','CYP','CZE','DEU','DJI','DNK','DOM','DZA','ECU','EGY','ESP','EST','ETH','FIN','FRA','FRO','FSM','GBR','GEO','GGY','GIN','GNB','GRC','GRL','GTM','GUM','HND','HRV','HTI','HUN','IDN','IMN','IND','IRL','IRN','IRQ','ISL','ISR','ITA','JEY','JOR','JPN','KAZ','KEN','KGZ','KHM','KIR','KOR','KWT','LAO','LBN','LIE','LKA','LSO','LTU','LUX','LVA','MAF','MAR','MCO','MDA','MDG','MDV','MEX','MHL','MLT','MMR','MNE','MNG','MOZ','MSR','MUS','MWI','MYS','NAM','NCL','NER','NGA','NIC','NLD','NOR','NPL','NRU','NZL','OMN','PAK','PER','PHL','PNG','POL','PRI','PRT','PRY','PSE','PYF','ROU','RUS','SAU','SDN','SEN','SGP','SJM','SLV','SMR','SPM','SRB','SVK','SVN','SWE','SWZ','THA','TJK','TKM','TLS','TTO','TUN','TUR','UKR','URY','USA','UZB','VCT','VEN','VGB','VIR','VNM','WLF','ZAF')))">rule|text|R-SAY-IDR</assert>
        <assert id="R-2OX-PDZ" role="ERROR" diagnostics="ND-Touchpoint_BT-513-Organization-TouchPoint" test="(not(cac:PostalAddress/cbc:CityName)) or (not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode)))">rule|text|R-2OX-PDZ</assert>
        <assert id="R-QBU-VVH" role="ERROR" diagnostics="ND-Touchpoint_BT-513-Organization-TouchPoint" test="(cac:PostalAddress/cbc:CityName) or (not(not(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode))))">rule|text|R-QBU-VVH</assert>
        <assert id="R-EDA-JIW" role="ERROR" diagnostics="ND-Touchpoint_BT-514-Organization-TouchPoint" test="(not(cac:PostalAddress/cac:Country/cbc:IdentificationCode)) or (not(not(cac:PartyName/cbc:Name)))">rule|text|R-EDA-JIW</assert>
        <assert id="R-WI5-NNA" role="ERROR" diagnostics="ND-Touchpoint_BT-514-Organization-TouchPoint" test="(cac:PostalAddress/cac:Country/cbc:IdentificationCode) or (not(not(not(cac:PartyName/cbc:Name))))">rule|text|R-WI5-NNA</assert>
        <assert id="R-MEU-DGF" role="ERROR" diagnostics="ND-Touchpoint_BT-739-Organization-TouchPoint" test="(not(cac:Contact/cbc:Telefax)) or (not(not(cac:PartyIdentification/cbc:ID)))">rule|text|R-MEU-DGF</assert>
        <assert id="R-I5S-JI5" role="ERROR" diagnostics="ND-Touchpoint_BT-739-Organization-TouchPoint" test="(cac:Contact/cbc:Telefax) or (not((not(cbc:WebsiteURI)) and (not(cac:Contact/cbc:ElectronicMail)) and (not(cac:Contact/cbc:Telephone)) and (not(cac:PartyName/cbc:Name)) and (not(cbc:EndpointID)) and (cac:PartyIdentification/cbc:ID)))">rule|text|R-I5S-JI5</assert>
    </rule>
</pattern>
