schematrons/static/validation-stage-3b-13.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-3b-13" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/cbc:RegulatoryDomain">
        <assert id="R-PU3-5G5" role="ERROR" test="./normalize-space(text()) = ('32014L0025','other')">rule|text|R-PU3-5G5</assert>
    </rule>
    <rule context="/*/cac:TenderingProcess/cbc:ProcedureCode">
        <assert id="R-83Q-579" role="ERROR" test="./normalize-space(text()) = ('comp-dial','innovation','neg-w-call','oth-mult','restricted')">rule|text|R-83Q-579</assert>
    </rule>
</pattern>
