schematrons/static/validation-stage-3b-6.sch

<?xml version="1.0" encoding="UTF-8" ?>
<!--File generated from metadata database-->
<pattern id="EFORMS-validation-stage-3b-6" xmlns="http://purl.oclc.org/dsdl/schematron">
	<rule context="/*/cbc:RegulatoryDomain[$noticeSubType = '6']">
		<assert id="BR-BT-00001-0212" role="ERROR" test="normalize-space(.) = ('32009L0081', 'other')">rule|text|BR-BT-00001-0212</assert>
	</rule>
</pattern>
