schematrons/static/validation-stage-3b-5.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern id="EFORMS-validation-stage-3b-5" xmlns="http://purl.oclc.org/dsdl/schematron">
    <rule context="/*/cbc:RegulatoryDomain">
        <assert id="R-J1P-TE8" role="ERROR" test="./normalize-space(text()) = ('32014L0025','other')">rule|text|R-J1P-TE8</assert>
    </rule>
</pattern>
